* {
	margin: 0;
	padding: 0;
}
body {
	max-width: 800px;
	margin: 0px auto;
	font:normal 14px/25px "微软雅黑",arial,sans-serif;
}
.video-box {
	background: #fff;
}
.video-box input {
	padding: 5px 10px;
	font:normal 14px/25px "微软雅黑",arial,sans-serif;
}
.video-player {
	overflow: hidden;
	background: #000 url(../images/icons/loading.gif) no-repeat center center;
}
.video-login, 
.video-sn {
	display: none;
	margin:15px auto;
	padding: 15px;
	border: 1px solid #eee;
	border-radius: 5px;
	background: #fff;
}
.form-group {
	margin-right: 25px;
	margin-bottom: 15px;
}
.form-group label {
	display: block;
}
.form-group input {
	width: 100%;
}
.video-sn-msg{
	margin-top: 10px;
	color: #f00;
}
.video-control {
    margin-bottom: 10px;
    padding-left: 1px;
}
.video-control input {
    margin-left: -1px;
}
.video-list {
    margin-bottom: 15px;
}
.video-list-items {
    list-style: none;
}
.video-tips {
	padding: 15px;
}
.video-logs {
    margin-bottom: 15px;
    overflow-x:hidden;
    /*overflow-y:hidden;*/
	width: 100%;
	min-height: 150px;
	border: 1px solid #ccc;
	background: #fff;
	font:normal 14px/25px "微软雅黑",arial,sans-serif;
}