<!doctype html>
<html ng-app='new_app'>
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{if $student_name}{$student_name}-{/if}{$page_title}-{$_SESSION['school_name']}</title>
    <link href="{MODULE_URL}style/css/weui.min.css" rel="stylesheet" type="text/css" />
    <link href="{MODULE_URL}style/css/new_style.css" rel="stylesheet" type="text/css" />
    <link href="{MODULE_URL}style/css/weui2.css" rel="stylesheet" type="text/css" />
    <link href="{MODULE_URL}style/css/weui_example.css" rel="stylesheet" type="text/css" />
	<link href="{MODULE_URL}assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
 