{php $page_title   = '学校公告';}
{template '../new/head'}
  <link rel="stylesheet"        type="text/css"     href="{MODULE_URL}/style/app/css/normalize.css">
  <link rel="stylesheet"        type="text/css"     href="{MODULE_URL}/style/app/css/framework.css">
  <link rel="stylesheet"        type="text/css"     href="{MODULE_URL}/style/app/css/styles.css">
  <link rel="stylesheet"        type="text/css"     href="{MODULE_URL}/style/app/css/chart.css">
  <link rel="shortcut icon"     type="image/x-icon" href="{MODULE_URL}/style/app/images/logo.ico">
  <script type='text/javascript' src='{MODULE_URL}/style/js/jquery.min.js'></script>
 <link rel="apple-touch-icon"  href="{MODULE_URL}/style/app/images/logo.ico">
  <link href="{MODULE_URL}/style/app/css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <body>
  <section class="w-section mobile-wrapper" >
    <div class="page-content" id="main-stack">
      <div class="w-nav " data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
        </div>
      </div>
      <div class="news-mask" ></div>
      <div class="news-container" style="margin-top:10px;">
        <ul class="w-clearfix list-news" style="margin-bottom:60px;">
            {loop $list $row}
                <li class="list-item-new">
                    <a class="w-inline-block link-blog-list" href="{php echo $this->createMobileUrl("msg_content",array('id'=>$row['msg_id']));}" data-load="1">
                    {if $row['img']}
                        <div class="image-new" style="background-image:url({php echo $this->imgFrom($row['img'])})"></div>
                    {/if}
                    <div class="text-new">
                        <h2 class="title-new">{$row['msg_title']}</h2>
                        <p class="description-new">{php echo S('fun','formatLimitContent',array($row['msg_content']));}</p>
                    </div>
                    </a>
                </li>           
            {/loop}
        </ul>
      </div>
    </div>

  </section>
{if $_SESSION['teacher_mobile']}
  {template '../new/tea_footer'}
{else}
  {template '../new/footer'}
{/if}