{php $page_title = '点评录';}
{template '../new/head'}
  <link rel="apple-touch-icon"  href="{MODULE_URL}/style/app/images/logo.ico">
  <link rel="stylesheet" href="{MODULE_URL}template/mobile/style/style_nav.css">
  <script type='text/javascript' src='{MODULE_URL}/style/js/jquery.min.js'></script>
<body>
{template '../new/record_nav'}
      <div class="weui_panel_bd" style="margin-top:50px;">
          {loop $jilv_list $row}
          <a href="{php echo $this->createMobileUrl('line_article',array('wid'=>$row['work_id']));}" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="{php echo D('teacher')->teacherImg($row['teacher_id']);}" >
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">{if $row['teacher_realname']}{$row['teacher_realname']}{else}管理员{/if}</h4>
                    <p class="weui_media_desc">{php echo $this->clear_html_short($row['content']);}
                    </p>
                </div>
            </a>
            {/loop}    
            </div>
{template 'jsweixin'}
{template 'school/app_footer'}
{template '../new/footer'}