    {loop $list $row}
        <li class="list-item-new">
            <a class="w-inline-block link-blog-list" href="{php echo $this->createMobileUrl("schoolAdminSchoolMsgInfo",array("id"=>$row['msg_id']))}" data-load="1">
            {if $row['img']}
                <div class="image-new" style="background-image: url( {php echo $this->imgFrom($row['img'])});	background-size: cover;background-position: center;"  ></div>
            {/if}
                <div class="text-new">
                    <h2 class="title-new">{$row['msg_title']}</h2>
                    <p class="description-new">{php echo S('fun','formatLimitContent',array($row['msg_content'],50));}...</p>
                        {if $row['add_time']} {php echo date("m-d",$row['add_time'])} {else}{php echo date("m-d",$row['addtime'])}{/if}
                    <a class="category-link" href="javascript:;">{$row['admin_name']}</a><a class="category-link" style="background-color: rgba(255,51,51,0.8);color: #fff" href="{php echo $this->createMobileUrl("SchoolAdminSchoolMsgInfo",array("id"=>$row['msg_id'],'ac'=>'delete'))}">删除</a>
                </div>
                </a>
            </li> 
    {/loop}