<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{if $student_name}{$student_name}-{/if}{if $teacher_name} {$teacher_name}-{/if} {$page_title}-{$_SESSION['school_name']}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link href="{MODULE_URL}/style/css/old_css.css?{php echo time();}" rel="stylesheet">
    <link href="{MODULE_URL}style/css/weui.min.css" rel="stylesheet" type="text/css" />
    <script src="{MODULE_URL}/style/js/jquery.min.js"></script>
</head>
<body style="background-color: #ccccff" class="all_height">
    <header class="tscore_head">
        尊敬的{$student_name}
    </header>
    <div class="tscore_img" >
        <a href="{php echo $this->createMobileUrl("teaScoreList",array("ac"=>$_GPC['ac']))}" style="color: #FFFF52; position: relative;left: -5px;font-size:1.2em">
        {if $ac=='list'}今年{elseif $ac=='month'}本月{elseif $ac=='day'}今日{/if}积分<br>
        {$result['all_num']}
        </a>
    </div>
    <div class="tscore_bottom">
        <span>
            积分排名<br>
            {$sort}
        </span>
        <span>消费积分<br>
            0
         </span>
    </div>
    <div class="tscore_re">
        {if $ac!="month"}
            <a href="{php echo $this->createMobileUrl("teaScore",array("ac"=>'month'))}">本月</a>
        {else}
            <a href="{php echo $this->createMobileUrl("teaScore",array("ac"=>'list'))}">今年</a>
        {/if}
        <a href="{php echo $this->createMobileUrl("teain")}">首页</a>
        {if $ac!='day'}
            <a href="{php echo $this->createMobileUrl("teaScore",array("ac"=>'day'))}">今日</a>
        {else}
            <a href="{php echo $this->createMobileUrl("teaScore",array("ac"=>'list'))}">今年</a>
        {/if}
        <div style="clear:both"></div>
    </div>

    <div class="tscore_text">
        点击积分数查看积分记录
    </div>

</body>