.menu {
    margin-top: 1rem;
    background: #fff
}

.menu a {
    text-decoration: none
}

.menu .item {
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 0 0 .8rem;
    font-size: .8rem;
    color: #3f3f3f;
    border-bottom: 1px solid #e5e5e5;
    background-image: url(http://hangjia.qiniudn.com/FghQkJgO80xIKLa15-rhz_Y9dpI7);
    background-size: .325rem .655rem;
    background-position: center right .8rem;
    background-repeat: no-repeat
}

.container {
    padding: 1.05rem .85rem 4rem;
    background: #fff
}

.container h1 {
    text-align: center;
    color: #f85f48;
    font-size: .9rem;
    line-height: 1.25rem
}

.container h2 {
    font-size: .8rem;
    line-height: 1.125rem;
    margin: 1.7rem 0 .575rem;
    font-weight: 700
}

.container p {
    font-size: .7rem;
    line-height: .95rem;
    margin-bottom: .55rem
}
