@charset "utf-8";
/* CSS Document */
* { word-wrap: break-word; }
ul,ol,li,span,p,form,h1,h2,h3,4,h5,h6,dl,dt,dd { margin: 0; padding: 0; border: 0; z-index:inherit; }
img,a img { border:0; margin:0; padding:0;vertical-align:bottom; }
ul,ol,li { list-style:none; }
* { margin:0; padding:0; text-decoration:none }
html,body { height:100%; font:12px/1.6  Microsoft YaHei, Helvetica, sans-serif; color:#666; }
input,select,textarea,button { font:14px/1.5  Microsoft YaHei, Helvetica, sans-serif; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; color:#666; }
table { empty-cells: show; border-collapse: collapse; color:#666; }
caption, th { text-align: left; font-weight: 400; }
ul li, .xl li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
em, cite, i { font-style: normal; }
a img { border: none;}
.clear { clear: both; }
input { line-height: normal; }

.main{ min-width:320px; background:#edefee; height:auto; padding-bottom:20px;}
.main .logo{ height:40px; width:100%; background:#353b44;}
.main .logo .img{ width:90px; line-height:30px; margin:0px auto;}
.main .logo img{ width:100%;}


.index{ margin:10px 10px 5px 10px; background:#ffffff; box-shadow:1px 1px 3px #CCC; padding:5px 10px; border-radius:5px;position:relative;}
.index .index_box .icon_h{ float:left; margin-right:15px; }
.index .index_box .titl{ overflow:hidden;}
.index .index_box .titl h1{ font-size:16px; margin:7px 0; text-decoration:none}
.index .index_box .titl_h{ color:#666; }
.index .index_box .titl_h i span{ color:#666; float:right}
.index .index_box .titl_h floor{ margin-left:10px;}
.index .index_box .titl_h floor span{ color:#F00}

.header{height:48px; position:relative; box-shadow:1px 0px 3px #ccc; background:#ffffff; text-align:center;}
.header .go_left{position:absolute; left:10px; top:12px;}
.header .go_left img{width:70%;}
.header .fa_left{position:absolute; right:10px; top:12px;}
.header .fa_left img{width:70%; }
.header span{ font-size:16px; line-height:48px; font-weight:500}


.wrap {margin:5px; border-radius:5px;}
.wrap ul li{ margin-bottom:20px;background: #ffffff;box-shadow:1px 1px 3px #CCC;}
.wrap .author{overflow: hidden; margin:0px 10px; padding-top:10px; position:relative}
.wrap .author .close{ position:absolute; right:0px; top:20px; z-index:1; width:20px;}
.wrap .author .close img{ width:20px; height:20px;}
.wrap .author img{  box-shadow: 0 0 1px #eee;border-radius: 40px;width: 40px;height: 40px; float:left;overflow:hidden; margin-right:10px;}
.wrap .author .author_name{ color:#F3C}
.wrap .author .author_time{ color:#999}


.wrap .topic{ padding:10px 0 0 0; }
.wrap .topic img{ width:100%; border:none;}
.wrap .topic p{ margin:10px; font-size:16px; display:inline-block}
.wrap .click_hf{ background:#F5F5F5; padding:10px; position:relative;}
.wrap .click_hf .zan{  display:inline-block; float:left; width:20px;margin-right:2px;}
.wrap .click_hf .zan img{ width:100%;}
.wrap .click_hf .zan span{ float:left; }
.wrap .click_hf .huifu{ position:absolute; right:10px; top:10px; width:20px;}
.wrap .click_hf .huifu img{ width:100%;}

#img_list{clear: both;}
#img_list img{ width:100px;height:100px;float:left;margin-left:5px; overflow: hidden;}
.comment_list{margin-bottom: 10px;
    background: #eee;
    padding-bottom: 5px;
    position: relative;
    top: -19px;}
.comment_list ul li{  
      margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0;
    margin-left: 5px;
    background: #eee;
	padding:5px 0;}











