{if empty($_W['isajax'])}
{template 'common/header'}
{template 'navs'}
{/if}
<div class="panel panel-default">
    <div class="panel-body">
        <form action="./index.php" method="get"  class="form-horizontal">
            <input type="hidden" name="c" value="{php echo $_GPC['c']}"/>
            <input type="hidden" name="a" value="{php echo $_GPC['a']}"/>
            <input type="hidden" name="m" value="{php echo $_GPC['m']}"/>
            <input type="hidden" name="do" value="{php echo $_GPC['do']}"/>
            <input type="hidden" name="act" value="{php echo $_GPC['act']}"/>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">标题</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="title" placeholder="" value="{$item['title']}" class="form-control"/>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-11">
                    <input name="submit" type="submit" value="搜索" class="btn btn-primary span3" />
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {overflow: visible !important;}
    .dropdown-menu{min-width:4em;}
    .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {white-space: normal !important;overflow: visible !important;}
    .dropdown{display:inline-block !important;}
    .account-stat-num > div {width: 25%;float: left;font-size: 16px;text-align: center;}
    .account-stat-num > div span {display: block;font-size: 30px;font-weight: bold;}
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        讨论列表
    </div>
    <div class="panel-body">
        <table st-table="items" class="table table-striped table-condensed" style="display:auto;">
            <thead>
            <tr>
                <th style="width:22em;">标题</th>
                <th style="width:6em;">开启</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $list['list'] $li}
            <tr>
                <td>{$li['title']}</td>
                <td>
                    <label class="label label-danger">{if $li['status']==1}本期{else}往期{/if}</label>
                </td>
                <td>
                    <a href="{php echo $this->createWebUrl('chart_log',array('chart_id'=>$li['id']))}" class="btn btn-default">讨论</a>
                    <a href="{php echo $this->createWebUrl('chart',array('act'=>'edit','id'=>$li['id']))}" class="btn btn-default">编辑</a>
                    <a href="{php echo $this->createWebUrl('chart',array('act'=>'delete','id'=>$li['id']))}" class="btn btn-danger">删除</a>
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
        {php echo $list['pager']}
    </div>

    <div class="panel-footer">
        <a href="{php echo $this->createWebUrl('chart',array('act'=>'edit'))}" class="btn btn-default">新增</a>
    </div>
</div>

{if empty($_W['isajax'])}
<script>
    require(['util'],function(util){
        $('body').on('click','.open_modal',function(){
            var title = '';
            var url = $(this).data('href');
            var name = $(this).data('name');
            console.log(url);
            $.get(url,function(data){
                var content = data;
                var footer = '<button class="btn btn-danger close2">关闭</button>';
                var options = {containerName:''+name};
                var model = name+'_modal';
                eval(model+'=util.dialog(title, content, footer,options);');
                eval(model+'.show();');
                eval(model+'.removeClass("fade");');
                eval(model+'.find(".close2").click(function(){'+model+'.hide();})');
            },'html');
        });
    });
</script>
{template 'common/footer'}
{/if}