{if empty($_W['isajax'])}
{template 'common/header'}
{template 'navs'}
{/if}
<style>
    .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {overflow: visible !important;}
    .dropdown-menu{min-width:4em;}
    .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {white-space: normal !important;overflow: visible !important;}
    .dropdown{display:inline-block !important;}
    .account-stat-num > div {width: 25%;float: left;font-size: 16px;text-align: center;}
    .account-stat-num > div span {display: block;font-size: 30px;font-weight: bold;}
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        答主列表
    </div>
    <div class="panel-body">
        <table st-table="items" class="table table-striped table-condensed" style="display:auto;">
            <thead>
            <tr>
                <th style="width:12em;">昵称</th>
                <th style="width:6em;">头像</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $list['list'] $li}
            <tr>
                {php $member = M('member')->getInfo($li['openid'])}
                <td>{$member['nickname']}</td>
                <td>
                    <img src="{php echo tomedia($member['avatar'])}" style="width:4em;height:4em;" class="img-rounded"/>
                </td>
                <td>
                    <a href="{php echo $this->createWebUrl('themes_answer',array('act'=>'edit','themes_id'=>$themes_id,'id'=>$li['id']))}" class="btn btn-default">编辑</a>
                    <a href="{php echo $this->createWebUrl('themes_answer',array('act'=>'delete','themes_id'=>$themes_id,'id'=>$li['id']))}" class="btn btn-danger">删除</a>
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
        {php echo $list['pager']}
    </div>

    <div class="panel-footer">
        <a href="{php echo $this->createWebUrl('themes_answer',array('act'=>'edit','themes_id'=>$themes_id))}" class="btn btn-default">新增</a>
    </div>
</div>

{if empty($_W['isajax'])}
<script>
    require(['util'],function(util){
        $('body').on('click','.open_modal',function(){
            var title = '';
            var url = $(this).data('href');
            var name = $(this).data('name');
            console.log(url);
            $.get(url,function(data){
                var content = data;
                var footer = '<button class="btn btn-danger close2">关闭</button>';
                var options = {containerName:''+name};
                var model = name+'_modal';
                eval(model+'=util.dialog(title, content, footer,options);');
                eval(model+'.show();');
                eval(model+'.removeClass("fade");');
                eval(model+'.find(".close2").click(function(){'+model+'.hide();})');
            },'html');
        });
    });
</script>
{template 'common/footer'}
{/if}