@charset "utf-8";
* {
	list-style: none;
	margin: 0;
	padding: 0px;
	text-decoration: none;
	-webkit-appearance: none;
}

/* 录音 */

strong {
	font-weight: 700;
}
#wrapper {
	width: 30em; /* 480 */
	height: 8.75em; /* 140 */
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4.375em 0 0 -15em; /* 70 240 */
}
h1 {
	font-size: 1.688em; /* 27 */
	font-weight: 500;
	text-align: center;
	margin-bottom: 0.741em; /* 20 */
}
h1,  h1 a,  #copyright,  #copyright a {
	color: #fff;
	text-shadow: 1px 1px 0 rgba( 0, 0, 0, .1 );
}
h1 a,  #copyright a {
	-webkit-transition: text-shadow .25s ease;
	-moz-transition: text-shadow .25s ease;
	-ms-transition: text-shadow .25s ease;
	-o-transition: text-shadow .25s ease;
	transition: text-shadow .25s ease;
}
h1 a:hover,  h1 a:focus,  #copyright a:hover,  #copyright a:focus {
	color: #fff;
	text-shadow: 1px 1px 0 rgba( 0, 0, 0, .3 );
}

#copyright {
	font-size: 0.875em; /* 14 */
	text-align: center;
	margin-top: 1.429em; /* 20 */
}
#copyright a {
	font-weight: 700;
}
/*

			PLAYER

		*/



.audioplayer {
	/*margin-top: 15px;*/
	/*width: auto;*/
	height: 32px; /* 40 */
	color: #fff;
	/*text-shadow: 1px 1px 0 #000;*/
	position: relative;
	/*z-index: 1;*/
	/*background: #333;*/
}
/* mini mode (fallback) */

.audioplayer-mini {
	width: 1em; /* 40 */
	margin: 0 auto;
}
/* player elements: play/pause and volume buttons, played/duration timers, progress bar of loaded/played */



.audioplayer > div {
	font-size:1em;
	position: absolute;
	line-height:2em;
}
/* play/pause button */



.audioplayer-playpause {
	width:20px; /* 40 */
	height: 100%;
	text-align: left;
	text-indent: -9999px;
	cursor: pointer;
	z-index: 2;
	top: 0;
	left: 0;
}
.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
}
.audioplayer-mini .audioplayer-playpause {
	width: 100%;
}
.audioplayer-playpause:hover,  .audioplayer-playpause:focus {
	background-color: #33cbd5;
}
.audioplayer-playpause a {
	display: block;
}
.audioplayer-stopped .audioplayer-playpause a {
	width: 0;
	height: 0;
	border: 0.5em solid transparent; /* 8 */
	border-right: none;
	border-left-color: #fff;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.5em 0 0 -0.25em; /* 8 4 */
}
.audioplayer-playing .audioplayer-playpause a {
	width: 0.75em; /* 12 */
	height: 0.75em; /* 12 */
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.375em 0 0 -0.375em; /* 6 */
}
.audioplayer-playing .audioplayer-playpause a:before,  .audioplayer-playing .audioplayer-playpause a:after {
	width: 40%;
	height: 100%;
	background-color: #fff;
	content: '';
	position: absolute;
	top: 0;
}
.audioplayer-playing .audioplayer-playpause a:before {
	left: 0;
}
.audioplayer-playing .audioplayer-playpause a:after {
	right: 0;
}
/* timers */



.audioplayer-time {
	width: 3.375em; /* 70 */
	height: 100%;
	line-height: 2.375em; /* 38 */
	text-align: center;
	z-index: 2;
	top: 0;
}
.audioplayer-time-current {
	border-left: 1px solid #111;
	border-left-color: rgba( 0, 0, 0, .25 );
	left:20px; /* 40 */
}
.audioplayer-time-duration {
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
	left:-217px;
}
.audioplayer-novolume .audioplayer-time-duration {
	border-right: 0;
	right: 0;
}
/* progress bar of loaded/played */



.audioplayer-bar {
	height: 0.875em; /* 14 */
	background-color: #222;
	cursor: pointer;
	z-index: 1;
	top: 50%;
	right: 1.375em; /* 110 */
	left: 78px; /* 110 */
	margin-top: -0.438em; /* 7 */
	/*width: 120px;*/
}
.audioplayer-novolume .audioplayer-bar {
	right: 4.375em; /* 70 */
}
.audioplayer-bar div {
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.audioplayer-bar-loaded {

	background-color: #d8d6d6;
	z-index: 1;
}
.audioplayer-bar-played {

	background: #007fd1;
	z-index: 2;
}
/* volume button */




.audioplayer:not(.audioplayer-muted) .audioplayer-volume-button a:after {
	/* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */

	width: 0.313em; /* 5 */
	height: 0.313em; /* 5 */
	border: 0.25em double #fff; /* 4 */
	border-width: 0.25em 0.25em 0 0; /* 4 */
	left: 0.563em; /* 9 */
	top: -0.063em; /* 1 */
	-webkit-border-radius: 0 0.938em 0 0; /* 15 */
	-moz-border-radius: 0 0.938em 0 0; /* 15 */
	border-radius: 0 0.938em 0 0; /* 15 */
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	-o-transform: rotate( 45deg );
	transform: rotate( 45deg );
}
/* volume dropdown */



.audioplayer-volume-adjust {
	height: 6.25em; /* 100 */
	cursor: default;
	position: absolute;
	left: 0;
	right: -1px;
	top: -9999px;
	background: #333;
}
.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
	opacity: 0;
}
.audioplayer-volume:hover .audioplayer-volume-adjust {
	top: auto;
	bottom: 100%;
}
.audioplayer-volume-adjust > div {
	width: 40%;
	height: 80%;
	background-color: #222;
	cursor: pointer;
	position: relative;
	z-index: 1;
	margin: 30% auto 0;
}
.audioplayer-volume-adjust div div {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #007fd1;
}
.audioplayer-novolume .audioplayer-volume {
	display: none;
}
/* CSS3 decorations */




.audioplayer {
	-webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
	-moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
	box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .0 ); /* 20 */
}
.audioplayer-volume-adjust {
	-webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
	-moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
	box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
}
.audioplayer-bar,  .audioplayer-volume-adjust > div {
	-webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	-moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
}
.audioplayer-volume-adjust div div,  .audioplayer-bar-played {
	-webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
	-moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
	box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
}
/*
.audioplayer-playpause,  .audioplayer-volume a {
	-webkit-filter: drop-shadow( 1px 1px 0 #000 );
	-moz-filter: drop-shadow( 1px 1px 0 #000 );
	-ms-filter: drop-shadow( 1px 1px 0 #000 );
	-o-filter: drop-shadow( 1px 1px 0 #000 );
	filter: drop-shadow( 1px 1px 0 #000 );
}*/
.audioplayer,  .audioplayer-volume-adjust {
	background: -webkit-gradient( linear, left top, left bottom, from( #fafafa ), to( #222 ) );
	background: -webkit-linear-gradient( top, #33cbd5, #33cbd5 );
	background: -moz-linear-gradient( top, #33cbd5, #33cbd5 );
	background: -ms-radial-gradient( top, #33cbd5, #33cbd5 );
	background: -o-linear-gradient( top, #33cbd5, #33cbd5 );
	background: linear-gradient( to bottom, #33cbd5,  #629099 );
}
.audioplayer-bar-played {
	background: -webkit-gradient( linear, left top, right top, from( #007fd1 ), to( #c600ff ) );
	background: -webkit-linear-gradient( left, #007fd1, #c600ff );
	background: -moz-linear-gradient( left, #007fd1, #c600ff );
	background: -ms-radial-gradient( left, #007fd1, #c600ff );
	background: -o-linear-gradient( left, #007fd1, #c600ff );
	background: linear-gradient( to right, #007fd1, #c600ff );
}
.audioplayer-volume-adjust div div {
	background: -webkit-gradient( linear, left bottom, left top, from( #007fd1 ), to( #c600ff ) );
	background: -webkit-linear-gradient( bottom, #007fd1, #c600ff );
	background: -moz-linear-gradient( bottom, #007fd1, #c600ff );
	background: -ms-radial-gradient( bottom, #007fd1, #c600ff );
	background: -o-linear-gradient( bottom, #007fd1, #c600ff );
	background: linear-gradient( to top, #007fd1, #c600ff );
}
.audioplayer-bar,  .audioplayer-bar div,  .audioplayer-volume-adjust div {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.audioplayer {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.audioplayer-volume-adjust {
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.audioplayer *,  .audioplayer *:before,  .audioplayer *:after {
	-webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	-moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	-ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	-o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	transition: color .25s ease, background-color .25s ease, opacity .5s ease;
}

/* responsiveness */



 a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
.tx-t{width:96%;margin-left:2%;border-bottom: 1px #e5e5e5 solid;}
.tx-t p1{width: 95%; float:left; font-size: 19.2px; line-height: 25px; color: #000000;margin-top: 10px;}
.tx-t p2{float: left;font-size:0.8rem; color: #999999;margin-top: 10px;}
.tx-m{margin:0 4%; margin-top: 10px;}
.tx-m p{font-size: 0.8rem; color: #333333;letter-spacing: 1px;line-height:1.5rem;  text-indent:1.6rem;}

.tx-m img{margin-top: 15px; width: 60%;}

.z_main {
	overflow: hidden;
	margin: 0 auto;
	-webkit-appearance: none;
	margin-bottom: 15px;
}
.caidan ul {
	width: 100%;
	bottom: 0px;
	z-index: 1;
	overflow: hidden;
	position: fixed;
	margin: 0 auto;
	background: #fafafa;
	border-top: 1px solid #e5e5e5;
}
.caidan ul li {
	text-align: center;
	width: 25%;
	max-width: 25%;
	float: left;
	margin-top: 5px;
}
.caidan ul li img {
	width:45%;
}
/* */
.add_msg{width: 100%;text-align: center}
/* 11b学校通知 */
.headtz{ height:110px;}
.pp{ background:#00b6c2 !important;}
.headtz a{ width:33.3%; overflow:hidden; display:block; float:left;background:#33cbd5; }
.headtz a:hover{line-height:120px;  overflow:hidden; display:block; float:left;}
.headtz p{    text-align:center; height:110px; font-size:1em; color:#ffffff; }
.top { height: 50px;}
.t-rq p{ font-size:0.8em; color:#ffffff; width: 50px; height: 30px;
		background:url(../img/TZ-RQ.png);
		background-size: 100%;
		background-repeat: no-repeat;
		margin-top: 15px; margin-left:4%;text-align: center;line-height: 25px;float: left; 
}
.t-fb{ width: 50%; margin-top:17px; margin-left:16px; float: left;font-size: 1em}
.t-fb p1{font-size:1em; color: #000000;}
.t-fb p2{font-size: 1em;color: #999999;}
.t-fb img{float:right;margin-right: 15px;}
.tz-nr{width: 92%;margin-left:4%;border-top:1px #e5e5e5 solid;}
.tz-nr p{font-size: 16px; color: #000000;margin-top: 10px;}
.tz-nn{width: 92%;margin-left: 4%;margin-top: 5px;}
.tz-nn p{font-size:14.4px; color: #999999;}
.tz-mm {width:100%;height: 10px;background: #f4f4f4; margin-top: 10px;border-top: 1px #e5e5e5 solid;border-bottom: 1px #e5e5e5 solid;overflow: hidden;}
.tz-tp{float:left;margin-top: 10px; padding-bottom: 0px;width: 100%;}
.tz-tp img{width: 80%;margin-left: 10%}
/* 04点评录 */
.head{ height:40px;}
.pp{ background:#00b6c2 !important;}
.head a{ width:33.3%;  overflow:hidden; display:block; float:left;background:#33cbd5; }
.head a:hover{ overflow:hidden; display:block; float:left;}
.head p{    text-align:center; height:40px;line-height: 40px; font-size:16px;font-weight: 300; color:#ffffff; }
.MD img{ margin-top:10px; margin-left: 11px; float:left;}
.MD li{ width: 92%; height:80px; border-bottom:1px #e5e5e5 solid;margin-left: 15px;}
.dpl li{height:20%; overflow: hidden;}
.WZ p{overflow: hidden; line-height:18px;}
.WX{ float:left; width:80px;margin-top: 10px; margin-bottom: 10px;}
.WZ{ width:70%; float:left;margin-top: 13px;}
.W-1{ font-size:1em; color:#333333; text-overflow:ellipsis;width: 60%;overflow: hidden;white-space:nowrap; display: inline-block}
.W-2{ font-size:0.8em; color:#777777;}
.W-3{ font-size:0.8em; color:#777777;}
.W-31{ height:20px; overflow: hidden; }
.background_img{
	background-repeat: no-repeat;
	background-size: 100% 100% !important;
	background-position: center;
}
/*04a点评录详情*/
.TP{ margin:10px 15px 0px;overflow: hidden;}
.TP P{ font-size:1.2em; color:#333333;line-height: 1.5em}
.TP P1{ font-size:0.8em; color:#777777;}
.YY{text-align:center; margin:15px 15px 5px 15px;}
.MT{ text-align:center; margin-top:12px;}
.MT img{ width:92.6%;}
.NR{ margin-left:1em;margin: 15px;}
.NR P{font-size:16px; color:#777777; line-height:22px;}
/* 08家庭作业 */
.zy{width:100%;overflow: hidden; border-bottom:1px #e5e5e5 solid;}
.zy-tp{width: 60px;float: left;margin-left: 10px;margin-top: 13px;}
.zy-t{margin-top:20px;float: left;margin-left:8px; margin-bottom: 5px;}
.zy-t p{font-size:1.2em;color: #333333;float: left;}
.zy-t p span{font-size:0.8em;color: #777777;margin-left: 10px;}
.zy-tt{width: 250px; overflow: hidden;float: left;margin-left:8px;margin-bottom: 8px;}
.zy-tt p{font-size:0.9em;color: #777777;float: left;}
.zy-t-t{overflow: hidden;margin-left: 76px;float: left;}
.zy-yyy{overflow:hidden;float:right;margin-top: 10px; width:245px;margin-right: 38px;}
.zy-b{height: 20px;overflow: hidden;float: left;margin-left:80px;margin-top: 10px;}
.zy-b p{font-size:0.6em;color: #999999;float: left;}
.b-tt{width:939px;margin-left: 33px;}
.b-tt img{text-align:center;}
.homework_img_list{
    width:45%;
    height: 130px;
    float: left; 
	margin-right:6px;
	margin-top: 6px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/* 08a家庭作业详情 */
.zx-t{margin-left: 36px;margin-top: 38px;}
.zx-t p{font-size:1em;color: #333333;}
.zx-t span{font-size:0.6em;color: #777777;margin-top: 25px;}
.zx-t img{margin-top: 30px;}
.jtzyx{width:100%; }
.jtzyx img{margin-left: 211px;margin-top: 45px;}
.jtzp{width:90%;margin-left: 10px;margin-top: 20px;}
.jtzp p{font-size:0.8em;color: #777777;}
.z_dp{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding:10px 0 0 0px;
}
.z_dpt{
		 line-height: 1.5em; overflow: hidden; margin-top: 5px; font-size: 16px; color:#333;
}
.z_dpt1{
	height:20px; line-height:20px; font-size:0.8em;color:#777;
}
.head-solid{
	border-bottom: 1px solid #ccc;
	width: 100%;
}
.z_dpt2{
	margin-top: 17px; width: 100%; overflow: hidden;
}
.z_dpt2 img{ width: 90%;height: 30px;}
.z_dpt3{ text-align:center;margin-top:20px;overflow: hidden;}
.z_dpt3 img{width:100%;margin-bottom:10px;}
.z_dpt4{
    width: 100%;
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 10px;
}
.z_dp div p{
	text-indent: 0px !important;
}
.z_dp p img{
	width: 100%;
}
/* 15预约活动 */
.head-yy{ overflow:hidden;}
.head-yy a{ width:50%; overflow:hidden; display:block; float:left;background:#33cbd5; }
.head-yy p{    text-align:center; height:40px; font-size:16px; color:#ffffff; line-height:40px;font-weight: 300;}
.yy-top{width:92.6%;height:50px;overflow: hidden; border-bottom:1px #e5e5e5 solid;margin: 0 auto;}
.yy-t-l img{    float: left;margin-top: 13px;width: 60px}
.yy-t-l p{font-size: 1em; color: #000000;float: left; line-height:50px;margin-left: 15px; text-overflow:ellipsis;width: 50%;overflow: hidden;white-space:nowrap; }
.yy-t-r{float:right;margin-right:10px; line-height:50px;overflow: hidden;}
.yy-t-r p1{font-size: 0.8em; color: #999999;}
.yy-t-r p2{font-size:0.8em; color: #33cbd5;}
.yy-m p{width:92.6%; font-size: 1em;float: left;margin-left:10px;margin-top: 10px;line-height: 1.5em;}
.yy-m a p{color:#666;}
.yy-m{overflow: hidden;}
.yy-b{ margin-left:10px;overflow: hidden;}
.yy-b div{font-size:0.8em; color: #999999;;margin-top:5px;}
.y-t{height:10px;background:#f0f0f0;border-top:1px #e5e5e5 solid;border-bottom:1px #e5e5e5 solid;overflow: hidden;margin-top: 5px; }
/* 教室监控 */
.b4t{height:80px;background: #33cbd5;}
.b4-t{float:left;margin-left:15px;margin-top: 10px;}
.btw1 p{font-size:1.2em;color: #ffffff;margin-left:90px;padding-top:29px;}
.btw1 p span{font-size:1em;color: #ffffff;margin-left: 20px;}
.b4-t img{ width: 136px;border-radius: 50%}
.btw2 p{font-size:0.8em;color: #ffffff;margin-left: 245px;line-height: 1px;}
.btw2 p span{font-size:0.8em;color: #ffffff;margin-left: 16px;}
.spp{width:100%;}
.ps{margin: 0 auto;}
.spwz{height:1em;background: #33cbd5;margin: -3px 0 auto;height: 40px;line-height: 40px;}
.spwz p{font-size:1em;color: #ffffff;text-align: center;width: 100%}
/* 教室监控END */
/* 14缴费记录 */
.jf{background-color: #f0f0f0 !important;height:30px;overflow: hidden;}
.jf p{font-size: 0.8em;color: #333333;width:50%;line-height: 30px;margin-left: 20px;float: left;font-weight: 500}
.jf img{float:right;margin-top: 10px;margin-right: 10px;width: 20px;}
.jf-n{width:900px;;height: 130px;margin-left: 41px;overflow: hidden;border-bottom: 1px #e5e5e5 solid;}
.jf-nn{width:92.6%;margin-top: 40px;overflow: hidden;}
.jf-nn p{font-size:39px; color: #333333;float: left;margin-left: 37px;letter-spacing: 2px;}
.jf-nn img{float:left;}
.jf-js{margin-left:172px;margin-top: 105px;}
.z_txx .z_pp1{
	width: 40px;
	overflow: hidden;
	float: left;
	color: #F0EFEF;
	height: 60px;
	line-height: 60px;
	margin-left: 10px;
	}
.z_pp1 label {
	background: #d8d8d8;
	border-radius: 50%;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;	
	color: #fff !important;
	-webkit-appearance: none;
}
.z_txx {
	width:96%;
	overflow: hidden;
	margin: 0 auto;
}
.z_txx li {
	height: 60px;
	line-height: 60px;
	float: left;
	color: #333333;
	font-size: 0.8em;
	border-bottom: 1px solid #e1e1e1;
	width: 100%;
}
.z_txx2 {
	float: left;
	margin-left: 10px !important;
	font-weight: bolder;
	color: #333;
}
.z_txx2 span {
	font-size: 25px;
	color: #777777;
	font-weight: 300;
	color: #333;
}
/*<!--------------------------儿童教育更多---------------------------->*/

.z_m {
	width: 100%;
	height: 50px;
}
.z_m ul {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	z-index: 1;
	background: #f4f4f4;
}
.z_top {
	font-size:1em;
	line-height: 1.5em;
	font-weight: bold;
	color: #333333;
	overflow: hidden;
}
.z_top li {
	width: 320px;
	float: left;
	height: 110px;
	line-height: 110px;
	text-align: center;
}
.z_top li img {
	height: 50%;
	display: block;
	float: left;
	margin-top: 25px;
	margin-left: 50px;
}
.z_top li a {
	color: #000;
}
.z_mt {
	background: #FFF;
	width: 980px;
	overflow: hidden;
	font-size: 38px;
}
.z_mt ul {
	width: 900px;
	overflow: hidden;
	margin: 0 auto;
}
.z_mt ul li {
	float: left;
	width: 900px;
	height: 220px;
	margin-top: 30px;
	border-bottom: #ededed 2px solid;
}
.z_jl {
	width: 160px;
	height: 200px;
	float: left;
}
.z_jl img {
	margin-top: 15px;
	width: 164px;
	display: block;
}
.z_jr {
	height: 100px;
	float: left;
	width: 500px;
	margin-top: 40px;
	padding-left: 60px;
	line-height: 53px;
}
.z_p1 {
	font-weight: 800;
}
.z_mt a {
	color: #333333;
}
.z_mt a:hover {
	color: #AB0609;
}
.z_pp {
	width: 100px;
	overflow: hidden;
	height: 200px;
	line-height: 200px;
	float: right;
	color: #F0EFEF;
}
.z_pp1{width: 100px;
	overflow: hidden;
	height: 145px;
	line-height: 145px;
	float: left;
	color: #F0EFEF;}
.z_im {
	float: right !important;
	padding-right: 25px;
}
.z_aa {
	text-indent: 100px;
}
/* 儿童教育3 */
.headzy {
	background: url(../img/head-bk.jpg);
	width: 100%;
	height: 150px;
	margin: 0;
	background-size: 100%;

}
.QH img
{
	float:right;
	margin-top:15px;
	margin-right:15px;
	width: 20px;
	}
.L-D {
	width:50px;
	height: 50px;
	display: block;
	float: left;
	margin-left: 25px;
	margin-top: 45px;
}
.L-D-R {
    height:42px;
	line-height:16px;
	border-left: #fff 1px solid;
	float: left;
	color: #fff;
	list-style: none;
	margin-top: 58px;
	margin-left: 36px;
}
.L-D-R li {
	margin-left: 16px;
	margin-bottom: 5px;
	letter-spacing: 3px;
}
.TZ {
	width: 100%;
	height: 40px;
	background-color: #fafafa;
	float: left;
	list-style: none;
}
.TZ li {
	font-size:1em;
	color: #333333;
	height: 40px;
	line-height: 40px;
	margin-left: 10px;
	float: left;
}
.TZ img {
	float: left;
	height: 30px;
	margin-top:5px;
}

.z_xcz img{ width:17px;
	 height:17px;
	position: relative;
	top:2px;
	  margin-left:10px;}

.TZ li1 {
	font-size: 0.8em;
	color: #777777;
	float: right;
	margin-right:20px;
	margin-top: 10px;
}
.TZ-B {
	line-height: 30px;
}
.TZ-L {
	float: left;
}
.TZ-L img {
	margin-top: 20px;
	display: block;
	margin-left: 10px;
	float: left;
	width:48px;
}
.TZ-R {
	overflow: hidden;
	width:75%;
	float: left;
	margin: 12px 0 12px 0;
	margin-left: 10px;
}
.TZ-R P {
	overflow: hidden;
	line-height:18px;
}
.TZ-SJ p {
	font-size: 36px;
	color: #999999;
	float: right;
}
.biaoti1 {
    float: left;
    font-weight: 500;
    font-size:1em;
    width: 62%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	height: 30px;
	line-height: 30px;
}
.head_msg_content{
    width: 97%;
    max-height:120px;
	font-size: 0.9em;
	margin-top: 0px !important;
}
.biaoti2 {
	float: right;
	margin-right:10px;
	font-size: 0.9em;
	line-height:29px;
}
.CY li {
	width: 33%;
	text-align: center;
	float: left;
}
.CY P {
	text-align: center;
	font-size: 1em;
	margin-top: 0px;
}
.CY img {
	width:50px;
	height: 50px;
	margin-top: 15px;
}
.CY a {
	color: #333333;
	text-decoration: none;
}
.home_head_img{
	background:#fff;width: 70px;height: 70px;margin: 0 auto;
	background-size: 100% 100%;
	border-radius: 50%;
	background-position: center;background-repeat: no-repeat;
}
/*通讯录*/
.z_tx1 {
	width: 100%;
	height: 50px;
	overflow: hidden;
	background: #f0f0f0;
}
.menu_body a:hover {
	text-decoration: none;
}
.z_tx21 {
	height: 30px;
	line-height: 30px;
	width: 20px;
	float: left;
}
.z_tx21 img {
    width: 28px;
    height: 24px;
    margin-top: 9px;
    display: block;
}
.z_tx22 {
	height: 30px;
	float: left;
	line-height: 30px;
	margin-left: 20px;
	margin-top: 8px;
	font-size: 16px;
}
.z_tx23 {
	height: 30px;
	line-height: 30px;
	float: right;
}
.z_tx23 img {
    display: block;
    width: 25px;
    margin-top: 8px;
    margin-right: 5px;
}
.z_txx {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.z_txx li {
	float: left;
	color: #333333;
	border-bottom: 1px solid #e1e1e1;
	width: 100%;
}
.z_txx1 {
	height: 40px;
	width: 40px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 10px;
	margin-left:20px;
}
.z_txx1 img {
	width: 40px;
	height: 40px;
	display: block;
}
.z_txx2 {
	height:45px;
	width:70%;
	overflow: hidden;
	float: left;
	margin-left: 30px;
	font-weight: bolder;
	font-size:16px;
}
.z_txx2 span {
	font-size: 0.8em;
	color: #777777;
	font-weight: 300;
}
.z_txx3 {
	height: 30px;
	width: 30px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}
.z_txx3 img {
	width: 30px;
	height: 30px;
	display: block;
	margin-top: 12px;
}
.z_tx11 {
	width:90%;
	height:30px;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
}
.z_tx11 form {
	height:30px;
	width: 100%;
}
.z_tx11 form input {
	height: 30px;
	width: 70%;
	border: none;
	border-radius: 10px;
	font-size:1em;
	padding-left: 20px;
	float: left;
	outline:medium;
	line-height: 30px;
}
.z_bxx {
	width: 20px !important;
	float: right !important;
	height:20px !important;
	background: url(../img/z_sousu.png) center no-repeat;
	border: none !important;
	background-size: 100% 100%;
	margin-top:5px;
	margin-right: 10px;
}
.menu_list .current {
	background: #33cbd5;
}
.menu_head {
	background: #33cbd5;
	height: 40px;
	line-height: 40px;
	padding-left: 18px;
	color: #fff;
	cursor: pointer;
	position: relative;
	margin: 0px;
	font-size: 16px;
}

.z_leftl p a{
	color: #666;
}
.z_leftl {
	width: 73%;
	min-height: 62px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
.z_leftl ul {
	width: 100%;
	overflow: hidden;
}
.z_leftl ul li {
	width: 14%;
	float: left;
}
.z_leftl ul li p {
	line-height: 30px;
	height: 30px;
	font-size: 0.8em;
}
.z_leftl ul li p a{
	line-height: 30px;
	height: 30px;
}
.z_riqil {
	background: #33cbd5;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-weight: bolder;
	height:53px;
	line-height: 20px;
	font-size: 1em;
	padding-top:10px;
	width: 25%;
	letter-spacing: 2px;
}
.z_riqil a {
	color: #fff;
	display: block;
	margin-top: 32px;
	
}
.z_riqil span {
	font-size: 43px;
}
.p1 {
	color: #000;
}
.p2 {
	color: #999999;
}
.p4 {
	background: #33cbd5;
}
.p5 {
	background: #ffd235;
}
.p6 {
	color: #33cbd5;
	margin: 0 !important;
	padding: 0;
}
.z_center {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 80px;
}
.z_jin {
	width: 100%;
	/*overflow: hidden;*/
	position: relative;
	margin-top: 20px;
}
.z_jin1 img {
	width: 100%;
}
.z_jin2 {
	height:30px;
	line-height: 30px;
	background: #fff;
	color: #000000;
	font-weight: 200;
	font-size:1em;
	text-indent: 30px;
	font-weight: bolder;
}
.z_jin2 span {
	margin-left: 20px;
}
.z_jin3 {
position: relative;
    top: -31px;
    z-index:0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    line-height: 30px;
    text-indent: 0px;
    left: -147px;
}
.jie {
	text-align: right;
	padding-right: 20px;
	line-height: 30px;
	font-weight: 600;
	margin-top: 20px;
	overflow: hidden;
	font-size: 1em;
	height: 50px;
}
.jie img {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: right;
	line-height: 30px;
	margin-top: 15px;
	margin-left:15px; 
}
.jie span {
	padding-bottom: 0px;
	line-height:58px;
	float: right;
	margin-left: 20px;
}
.z_ri {
	color: #ff6f90;
}
.card_not{
	background-color: #ff6f90;
}
/* 10校园食谱 */
.headsp{ height:50px;}
.SP{background:url(../img/000.png);height:100%;}
.pp1{ background:#ff6c13 !important;}
.headsp a{ width:33.3%; line-height:40px;  overflow:hidden; display:block; float:left;background:#ff873e; }
.headsp a:hover{line-height:40px;  overflow:hidden; display:block; float:left;}
.headsp p{    text-align:center; height:40px; font-size:1em; color:#ffffff; line-height:40px;}

.SP-NR { margin-top: 10px; width:96%; background:url(../img/SP-BJ.jpg);overflow: auto;margin-left:2%;box-shadow: 1px 0.1px 10px 1px #d0c9ca;margin-bottom: 10px;}
.NR-H{float:left;height: 40px;}
.NR-H img{float: left; display: block; margin-left: 20px; margin-top: 6px;  width: 30px; }
.NR-H p{font-size: 1em;color: #000000; line-height: 40px;  float: left; margin-left: 15px; margin-top: 2px; }
.NR-B{float: left; width: 90%;margin-left: 18px;border-top:1px #e5e5e5 solid;padding-bottom: 10px;}
.NR-B li{height:25%; line-height:35px;}
.NR-B span1{font-size:1em; color: #000000;}
.NR-B span2{font-size: 0.9em; color: #777777;margin-left: 1px;}
/*---------------------------------班级圈--------------------*/
 .on_select{
     width: 20px;
     height: 20px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
     text-align: center;
     font-weight: 700;
     background-color:rgba(0,0,0,0.1);
 }
.z_bjt121{
    position: relative;
    color: #ff0033;
    display: inline;
    float: right;
    top: -10px;
}
.z_bjt121 img{
	width: 20px;
	height: 20px;
}
.no_pass{
	color:#ff0033;
}
.hidden{
	display: none;
}
.z_bj {
	width: 96%;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #d6d6d6 solid;
}
.z_bj1 {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
}
.z_bj1 img {
	width: 50px;
	height: 50px;
	display: block;
}
.z_bj11 {
	margin-left: 20px;
	width:75%;
	overflow: hidden;
	float: left;
}
.z_bjt12 {
	height: 20px;
    line-height: 20px;
    width: 200px;
    font-size: 16px;
}
.z_bjt12 span {
	font-size: 16px;
	color: #777777;
	padding-left: 15px;
}
.z_bjt13 {
	width: 100%;
	overflow: hidden;
	line-height:20px;
	font-size: 16px;
}
.z_bjt14 {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.z_bjt14 img {
	margin-top: 15px;
	width: 200px;
	height: 180px;
	float: left;
	margin-left: 20px;
}
.z_bjt15 {
	width: 100%;
	height: 20px;
	margin-top:30px;
}
.z_bjt15 p {
	width: 49%;
	float: left;
	line-height:20px;
	font-size: 14px;
	text-align: left;
}
.z_bjt15 p img {
	height: 16px;
	margin-left:20px;
}
.z_bbt {
	text-align: right !important;
}
.z_bjt16 {
	width: 100%;
	overflow: hidden;
}
.z_bjt161 {
	border-bottom: 15px solid #eee;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	width: 1px;
	margin-top: 5px;
	margin-left: 10px;
}
.z_bjt162 {
    border-bottom: 1px #D6D6D6 solid;
    background: url(../img/dz.png) top left no-repeat;
    text-indent: 23px;
    font-size: 14px;
    padding-right: 5px;
    background-position-y: 2px;
    background-size: 7%;
}
.z_bjt162 img {
	height: 30px;
}
.z_bjt162 a {
	line-height: 70px;
	padding: 0 5px;
	color: #33cbd5;
}
.z_bjt164 {
	width: 100%;
	background: #eee;
	padding: 10px;
}
.z_bjt163 {
	width: 98%;
	font-size: 13px;
	margin-top:10px;
}
.z_bjt163 p {
	line-height: 20px;
	color: #33cbd5;
}
.z_bjt163 a {
	color: #33cbd5;
	line-height: 50px;
	height: 50px;
	padding: 0 10px;
	font-weight: bolder;
	border: none;
}
.line_head_img{
	background: url('../upimg/line_head_img.png') no-repeat center;
	width: 100%;
	height:180px;
	margin-bottom: 10px;
	background-size:100%;
	background-position: top;
}
.delete{
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
    position: relative;
    left: 70px;
}
.delete img{
    width: 10px;
    height: 10px;
    margin-top: 12px;
}
.send_line{
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 70px;
	right: 40px;
	background-repeat: no-repeat;
	border-radius: 50%;
}
.send_line img{
	margin: -35px 0 0 30px;
	width: 100%;
}
/*<!--————————————————————————————————-->*/
.pinglun {
	position: fixed;
	z-index: 1px;
	bottom: 0px;
	margin: 0px;
	padding: 0;
	background: #f5f5f5;
}
.pinglun1 {
	background: #f5f5f5;
	height: 60px;
	width: 120%;
	overflow: hidden;
}
.pinglun1 input {
	height: 30px;
	width:170px;
	border-radius: 10px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	outline:medium;
	border: 1px solid #FFF;
}
.pinglun1 form {
	width: 100%;
	overflow: hidden;
}
.pinglun12 {
	width: 30px;
	height: 30px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}
.pinglun12 img {
	width: 30px;
	height: 30px;
}
.pinglun13 {
    float: left;
    width: 80px;
    height: 30px;
    background: #33cbd5;
    color: #fff;
    line-height: 30px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
	margin-left: 10px;
}
.pinglun14 img {
	height: 590px;
	margin: 0px;
	padding: 0px;
	background: #f1f1f1;
}
.z_xas {
    width: 100%;
    overflow: hidden;
    border: none;
    resize: none;
    height: 200px;
    font-size: 16px;
    padding: 10px;
}
.pinglun4 {
	background: #f5f5f5;
	height: 110px;
	width: 100%;
	overflow: hidden;
	border-bottom: 2px solid #d8d8d8;
}

.pinglun4 input{
	display: none;
    visibility: hidden;
}


.pinglun45 {
	width: 100%;
	float: left;
}
.pinglun41 {
	height: 70px;
	width: 110px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.pinglun41 img {
	height: 70px;
}
.pinglun42 {
	float: left;
	width: 110px;
	background: url(../img/ssj.png) left center no-repeat;
	height: 70px;
	margin-top: 20px;
	margin-left: 20px;
}
.pinglun43 {
	float: left;
	background: url(../img/tppp.png) left center no-repeat;
	width: 110px;
	height: 70px;
	margin-top: 20px;
	margin-left: 20px;
}
.pinglun44 {
	float: right !important;
    width: 60px;
    height: 40px;
    background: #33cbd5;
    color: #fff;
    margin-left: 40px;
    line-height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
    font-size: 16px;
	border: 0px;
}
/*录音*/
.voice_success{
	display: none;
}
.voice_display {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index: 999;
    background-color:rgba(0,0,0,0.7);
    color:#fff;
    text-align: center;
    display: none;
	font-size: 1em;
}
.voice_div{
    margin-left:20px;
}
.no_play{
    display: inline-block;
    width: 60px!important;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.button{
	border-radius: 5px;
	text-align: center;
	width: 30%;
	padding: 5px;
}
.button_yellow{
	background-color:#33cbd5;
}
.weui_uploader_file{
	width: 200px;
	height: 200px;
}
.z_dpt72{
	height: 120px; 
}
.z_dpt72 textarea{ 
    height:120px; 
	border: none;
	width: 100%;
	background: #f1f1f1;
	line-height: 20px;
	font-size: 16px;
}
.z_dpt61{
	height: 30px; line-height: 30px;font-size: 16px;
	color: #333;
}
.z_dpt62{
	min-height: 60px; background: #f1f1f1;
	margin-top: 10px;
}
.z_dpt62 input{
	
	outline:medium;
	display: none;
    visibility: hidden;
	
}
.z_dpt62 label{
    font-size: 60px;
    width: 50px;
    height: 50px;
    border: none;
    background: #fff;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #b3b3b3;
}
.weui_cell_ft{
	text-align: left !important;
}
.z_dpt56{
        width: 100%;
        text-align: center;
        font-size: 14.4px;
        margin-bottom: 10px;
        height: 40px;
        background-color: rgba(255,153,0,0.7);
        line-height:40px;
        color: #fff;
        font-weight: 300;
		margin-top:10px;
}
.z_dpt8{
	overflow: hidden;
	margin-top: 20px;
}
.z_dpt8 p{  font-size:14.4px; text-align: center; line-height: 20px;}
.z_dpt8 img{
	width: 60px !important; 
	height: 60px;
	display: block;
	margin: 0 auto;
}
.z_dpt8 input{
	height: 20px; 
	line-height: 20px;
	width: 160px;
	border: none;
	background: #fff;
	font-size: 14.4px;
	margin: 0 auto;
	display: block;
	margin-top: 15px;
	outline:medium;
}
.z_ylc{margin-top: 15px; width: 260px; margin: 0 auto;}
.z_ylc img{
	width: 20px !important;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 5px;
}
.z_cc{
	height: 120px;
	width: 100%;
}
.z_dpt5 input{
	width: 70%;
	height: 35px;
	outline:medium;
	line-height: 30px;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background: #33cbd5;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px #fff solid;
	-webkit-appearance: none;
}
/* 在线课堂 */
.bb{height:70px;overflow: hidden;}
.bb p{
	font-size: 16px;
    color: #333333;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 2px #33cbd5 solid;
    margin: auto;
    margin-top: 20px;
    width: 20%;
	text-align: center;
}
.bb img{float:left;margin-top:15px;margin-left: 10px;}
.bbb p{
	font-size:14.4px;color: #333333;float: left;line-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bb-b li{margin-left:3.33%;width: 45%;float: left;}
.bb-b img{float:left;}
.bbb  span{float:right;}
.bbb  span img{margin-top:12px;margin-right: 2px;}
.bbb span p{font-size: 14.4px;color: #999999;}
.kk{width: 100%; height:10px;background: #f4f4f4;border-bottom: 1px #d5d5d5 solid;border-top:1px #d5d5d5 solid;overflow: hidden;}

.voice_success{
	display: none;
}
.voice_display {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index: 999;
    background-color:rgba(0,0,0,0.7);
    color:#fff;
    text-align: center;
    display: none;
	font-size: 16px;
}
.micro_voice_ico{
    margin-top:50%;
    width: 100%;
    height:50px;
    color:#fff;
    font-weight: 700;
}
.micro_voice_ico i{
    font-size:1em;
}
#voice_stop{
    margin: 30px auto;
    font-weight: 700;
}
.voice_div{
    margin-left:20px;
}
.no_play{
    display: inline-block;
    width: 60px!important;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.button{
	border-radius: 5px;
	text-align: center;
	padding: 1em 2em;
	width: 30%;
}
.button_yellow{
	background-color:#33cbd5;
}
.weui_uploader_file{
	width: 200px;
	height: 200px;
}

.head-ks p{ 
	width:100%; 
	line-height:50px;  
	overflow:hidden; 
	display:block; 
	float:left;
	background:#33cbd5; 
	text-align: center;
	font-size: 16px;
	color: #ffffff;
}
.ksx{height:260px;border-bottom: 1px #e5e5e5 solid; width:100%;overflow: hidden;}
.ym{height:250px;float: left;overflow: hidden;text-align: center;margin-left: 15px;margin-top: 20px;}
.ym img{height:180px;width: 13px;}
.ym p{font-size:14.4px;}
.ks-m{height: 50px;overflow: hidden;margin-top: 10px;}
.ks-m p1{font-size:14.4px; color: #777777;float: left;margin-left: 10px;}
.ks-m p2{ font-size:14.4px; color: #777777;float: right;margin-right:10px;}
.y-xx{height:10px;background:#f0f0f0;border-top:1px #e5e5e5 solid;border-bottom:1px #e5e5e5 solid;overflow: hidden;}
.kxy-b{height: 50px;overflow: hidden;border-bottom: 1px #e5e5e5 solid;}
.kxy-b img{margin-top:10px;float: left;height: 30px; }
.kxy-b p1{font-size: 16px;color: #777777;float: left;margin-top: 15px;margin-left: 10px;}
.kxy-b p2{font-size: 14.44px;color: #999999;float: left;margin-top: 15px;margin-left: 15px;}
.t-x-j img{    
	float: right;
    margin-right: 15px;
    margin-top: 20px;
    width: 10px;
    height: 13px;
}
.yy-zx{overflow: hidden;width: 100%;margin-top:70px;height: 500px;font-size: 16px;}
/* 06考试成绩 */
.kss{height:700px;width: 100%; float: left;overflow: hidden;}
.head-kss{overflow: hidden;background:#33cbd5;}
.head-kss p{line-height:120px;  overflow:hidden; display:block; float:left;font-size: 39.92px;color: #ffffff;margin-left: 35px;}
.head-kss img{float:right; margin-right: 28px;margin-top: 48px;}
.kss-m div{    
	width: 25%;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    padding-top:10%;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
	background-color: #99ccff
}
.ksss{width: 100%; float: left;overflow: hidden;}

/* 05课程表*/
.head-kc{ height:50px;}
.pp{ background:#00b6c2 !important;}
.head-kc a{width:20%;line-height:50px;  overflow:hidden; display:block; float:left;background:#33cbd5; }
.head-kc a:hover{line-height:50px;  overflow:hidden; display:block; float:left;}
.head-kc p{ text-align:center; height:50px; font-size:16px; color:#ffffff; line-height:50px;}

.KC { border-bottom:1px #e5e5e5 solid;height:60px;}
.KC li{ background:#fafafa;text-align:center;width:25%;float:left;height: 60px;line-height: 20px;}
.KC li p{ font-size:16px; color:#000000;padding-top: 10px;line-height: 20px; height: 50px;}
.KC li p span{font-size:12px; color:#777777; }
.KC p2{ font-size:14.44px; color:#777777;}
.KR { padding-left:30%; padding-top:1px;}
.KR p{ font-size:16px; color:#777777;margin-top: 22px; }
.WXX { color:#777777; height:40px; background:#f0f0f0;}
.WXX-1 { font-size:16px;margin:auto;text-align: center;line-height: 40px; }
.WXX-2 { font-size:14.44px;float: left; margin-top: 10px;}
/* 07a请假记录 */
.headqj{ height:40px;}
.pp{ background:#00b6c2 !important;}
.headqj a{ width:50%; line-height:40px;  overflow:hidden; display:block; float:left;background:#33cbd5; }
.headqj a:hover{line-height:40px;  overflow:hidden; display:block; float:left;}
.headqj p{    text-align:center; height:40px; font-size:16px; color:#ffffff; line-height:40px;}

.qj{overflow:hidden;margin-top: 10px;margin-left:10px;width: 92.6%;height: auto; border-bottom: 1px #e5e5e5 solid;text-align: left;}
.qj-t{height:20px; width:100%;overflow: hidden;}
.qj-t p{font-size:14.4px;color: #333333;float: left;letter-spacing:inherit;}
.qj-t img{float:right;margin-right: 10px;width: 50px;}
.qj-m p1{font-size:14.4px;color: #333333;float: left;letter-spacing:inherit;}
.qj-m p2{font-size:14.4px;color: #333333;float: right;letter-spacing:inherit;}
.qj-b p{font-size:14.4px;color: #333333;float: left;margin: 5px 0;letter-spacing:inherit;}
.qj-mm{margin-top:15px;margin-left: 15px;}
.qj-mm1{overflow: hidden;}
.qj-mm p1{font-size:14.4px;color: #333333;float: left;}
.qj-mm p2{font-size:14.4px;color: #999999;float:right;margin-right: 36px;}
.qj-mm2 p{font-size:14.4px;color: #333333;float: left;margin-top: 5px;margin-bottom: 5px;}
/* 07请假申请 */
.sq-t{height: 40px; line-height:40px;width: 94%;overflow: hidden;margin-left: 3%; border-bottom: 1px #e5e5e5 solid;}
.sq-t1{font-size:16px; color: #333333;float: left;}
.sq-t2{
font-size: 13px;
    color:#999999;
    float: left;
    margin-left: 5%;
    width: 61%;
    height: 30px;
    margin-top: 3px;
	border: 0px;
}
.tz-mn {width:100%;height: 10px;background: #f4f4f4;border-top:1px #e5e5e5 solid;border-bottom: 1px #e5e5e5 solid;overflow: hidden;}
.sq-t3{font-size: 16px; color: #999999;float:right;margin-right: 10px;padding: 5px; margin-top:2px;border: 1px #e5e5e5 solid;}
.sq-t img{    float: right;
    margin-right: 10px;
    margin-top: 14px;
    width: 15px;
	}
.qjyy{ width: 96%;height:180px;margin-left: 2%;overflow: hidden;font-size:16px; margin-top:10px;}
.qjyy p{color:#999999;font-size:16px;margin-top:15px;margin-left: 10px;}
.qjyy textarea{
	width:100%;
    height:100%;
	background: url(../img/yybj.jpg);
	border: 1px solid #fff;
	font-size: 16px;
	margin-top: 10px;
}
/* 学生资料，教师资料，个人中心 */
.b3-t{width:100%;height: 200px;background: #33cbd5;}
.b3-t li{background:url(../img/b03tx.png);width:100px;height: 100px;margin: 0 auto;background-size: 100%;border-radius: 50%;}

.kzk{height:50px;overflow: hidden;}
.b3-t li img{    margin-left: 75%;
    margin-top: 70%;
    width: 30px;}
.sq-11{font-size:16px; color: #333;float: left;letter-spacing: 1px;}
.sq-t22{font-size: 16px; color: #999999;float: left;margin-left: 14px;}
.sq-t23{font-size: 16px; color: #999999;float: left;margin-left: 65px;background-color: #FFF;height: 20px;line-height: 20px;}
.sq-t23 p{width: 100px; border-bottom:1px #33cbd5 solid;}

.sq-tf{
	height: 30px;
    width: 96%;
    overflow: hidden;
    margin-top: 10px;
    border-bottom: 1px #e5e5e5 solid;
    margin: 0 auto;
    padding-top: 10px;
}
.sq-t2f{font-size: 16px; color: #999999;float: left;margin-left:30px;}
.tz-mn {width:100%;height:10px;background: #f4f4f4;overflow: hidden;}
.sq-tf img{float:right;margin-right: 42px; margin-top: 5px;width: 20px;}
.sq input{	border: 1px solid #fff;}
.ewm{width: 830px;margin: 0 auto;overflow: hidden;}
.ewm p{font-size:16px; color: #33cbd5;letter-spacing: 1px;line-height: 120px;float: left;}
.ewm input{float:left;width: 300px;height: 60px;border-radius: 20px;margin-left: 40px;background: #33cbd5;font-size: 25px;color: #fff;margin-top: 35px;}
.yc{opacity:0;}
.byc{position:absolute;}
.ew-p{width:300px;margin: 0 auto;margin-top: 30px;}
/* 15a剪纸课程 */
.jz-tt{
	margin-top: 10px;
    margin-left: 16px;
}
.jz-tt p{font-size:16px;color: #000000;}
.jz-top{
	margin-left: 16px;
    height: 35px;
    border-bottom: 1px #e5e5e5 solid;
}
.jz-tm{float:left;margin-top: 5px;}
.jz-tm p{
	font-size: 13px;
    color: #777;
    float: left;
    border-right: 1px #999999 solid;
    width:35px;
    height: 20px;
}
.jz-tm span{
	font-size: 13px;
    color: #777;
    float: left;
    margin-left:5px;
}
.jz-tb{float:right;margin-top: 5px;margin-right: 5px;}
.jz-tb p{font-size:14.4px;color: #999999;float: right;margin-right: 5px;}
.jz-tb span{font-size:14.4px;color: #33cbd5;float: right;}
.jz-me{
    margin-left: 10px;
    line-height: 20px;
	margin-top:10px;
	margin-bottom:10px;
}
.jz-me p{font-size:16px;color: #000000;}
.jzz{width: 96%;margin-left: 2%;border: 1px solid #eee; }
.jz-b li{float:left;text-align: center;background: #33cbd5;font-size:16px;color: #ffffff;line-height: 30px;border-right: 1px #e5e5e5 solid;}
.jzb-1,.jzc-1{
	width: 20%;
	}
.jzb-2,.jzc-2{
	width: 15%;
}
.jzb-3,.jzc-3{
	width: 30%;
}
.jzb-4,.jzc-4{
	width: 15%;
}
.jzb-5,.jzc-5{
	width: 18%;
	}
.jz-c{font-size: 13px;    border-bottom: 1px solid #eee;}
.jz-c li{float:left;text-align: center;font-size: 13px;color: #000000;border-right: 1px #e5e5e5 solid;word-wrap: break-word;height: 40px}
.jzc-3 span{height:15px;float: left;text-align: center;margin-left: 5px;}
.jz-mm{margin-top: 50px;margin-left: 20px;}
.jz-mm img{margin-top:25px;}
.jz-mm p{font-size:14.4px;color: #999999;margin-left: 212px;margin-top: 30px;}
.jzc-5 input{
	-webkit-appearance: radio;
}
.clear{
	clear: both;
}
.header{
	width: 100%;
    position: fixed;
    top: 0px;
    height: 40px;
    background-color: rgba(51,203,215,0.7);
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    overflow: hidden;
	font-weight: 300;
}
.header span{display: inline-block;width: 30%;float: left;}
.header span:first-child{text-align: left;padding-left:5%;}
.header span:last-child{text-align: right;padding-right: 5%;}
.header span a{color:#fff}
.z_bj1 i{
	color: #ff9933;
    font-size: 2rem;
    text-align: center;
    width: 50px;
    height: 50px;
    position: relative
}
