{template 'common/header'}

<div class='container' style='padding:0 5px 10px;margin:0;width:100%'>

    <ul class="nav nav-tabs">
        <li {if $op=='display'}class="active"{/if}><a href="{php echo $this->createWebUrl('user',array('op'=>'display', 'projectid'=>$projectid));}">管理权限</a></li>
    </ul>
    {if $op =='display'}

    <div style="padding:15px;">
        <form id="form2" class="form-horizontal" method="post">

            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th style="width:50px;"></th>
                    <th style="width:100px;">名称</th>
                    <th style="width:100px;">权限</th>
                </tr>
                </thead>
                <tbody>
                {loop $list $item}
                <td><input type="hidden" value="{$item['uid']}" name="uid[]"></td>
                <td>{$item['title']}</td>
                <td>
                    {loop $table $tb}
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="checkbox" name="rule[]" class="form-control"
                                   value="{$item['uid']}.{$tb['id']}" {if $item['rule'] == "*" || $item['rule'][$tb['id']] == TRUE}checked{/if}/>{$tb['title']}
                        </div>
                    </div>
                    {/loop}
                </td>
                </tr>

                {/loop}
                <tr>
                    <td>
                        <!--<input type="checkbox"-->
                               <!--onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});"-->
                               <!--name=''>-->
                        <input name="submit" type="submit" value="提交" class="btn btn-primary span3 btn-sm"/>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" value="post" name="op">
            <input type="hidden" name="token" value="{$_W['token']}"/>

        </form>
        {$pager}
    </div>
    {elseif $op == 'post'}


    <div class="main">
        <form action="" method="post" class="form-horizontal form">
            <div class="panel panel-default">


                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名<span style="color:red;font-size:18px">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" name="user" class="form-control" value="{$item['user']}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码<span style="color:red;font-size:18px">*</span></label>
                        <div class="col-sm-8">
                            <input type="password" name="passwd" class="form-control" value="{$item['passwd']}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-8">
                            <input type="text" name="title" class="form-control" value="{$item['title']}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-8">
                            <input type="radio" name="character" class="form-control" value="ADMIN"/>管理员
                            <input type="radio" name="character" class="form-control" value="USER"/>用户
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">角色<span style="color:red;font-size:18px">*</span></label>-->
                    <!--<div class="col-sm-8">-->
                    <!--<input type="text" name="character" class="form-control" value="{$item['character']}"/>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">权限</label>-->
                    <!--<div class="col-sm-8">-->
                    <!--<input type="text" name="rule" class="form-control" value="{$item['rule']}"/>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                        <div class="col-sm-4">
                            <input type="hidden" name="id" value="{$item[uid]}">
                            <input type="hidden" name="token" value="{$_W['token']}"/>
                            <input name="submit" type="submit" value="提交" class="btn btn-primary span3 btn-sm"/>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function () {
            $(document).on("click", 'a.del', function () {


                $(this).parent().parent().remove();

            });
            $(document).on("click", '.checkbox', function () {

                if ($(this)[0].checked) {
                    $(this)[0].value = '1';
                } else {
                    $(this)[0].value = '0';
                }
            });
            $("#add").click(function () {
                var index = $('#zd>tr').length;
                var newRow = '<tr><td><input type="hidden" value="' + index + '" name="s[' + index + '][id]">' +
                    '<input type="text" maxlength="40" placeholder="字段名称" class="form-control" name="s[' + index + '][title]">' +
                    '</td><td><input type="text" maxlength="40" placeholder="必须是字母开头英文" class="form-control" name="s[' + index + '][var]"><td class="hidden"><input type="text" maxlength="30" value="0" class="form-control" name="s[' + index + '][orderby]"></td><td><input class="checkbox" type="checkbox"  value="0" name="s[' + index + '][isok]" ></td><td><a href="javaScript:void(0);" data-id="-1" title="删除" class="del btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove" ></span></a></td></tr>';
                $("#zd").append(newRow);
            });
        });</script>
    {/if}
</div>

{template 'common/footer'}