<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <base href="{$yobyurl}">
    <title>{$row['hd_title']}</title>
    <link rel="stylesheet" href="weui/dist/style/weui.min.css" />
    <!--<script src="weui/zepto.js"></script>-->
</head>

<body>
    <?php
$wx = $_W['account']['jssdkconfig'];
$wx['url'] ='http://'.$_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ;
?>
        {if $op == "failed"} Failed!! {elseif $op == "ok"} {if ($type == "DEV" || $type == "LINE" ) }
        <div class="main">
            <form action="" method="post" class="form-horizontal form">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <?php var_dump($type) ?>
                        </div>
                        <div class="form-group">
                            <?php var_dump($id) ?>
                        </div>
                        <div class="form-group">
                            <?php var_dump($instance) ?>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                            <div class="col-sm-4">
                                <input type="hidden" name="token" value="{$_W['token']}" />
                                <input type="hidden" name="id" value="{$id}" />
                                <input type="hidden" value="check_once" name="op" />
                                <input type="hidden" value="{$uid}" name="uid" />
                                <input type="hidden" value="{$type}" name="type" />
                                <input type="hidden" value="" name="status" />
                                <input name="submit" type="submit" value="检查" class="btn btn-primary span3 btn-sm" />
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        {else}
        <div class="main">
            <form action="" method="post" class="form-horizontal form">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <?php var_dump($type) ?>
                        </div>
                        <div class="form-group">
                            <?php var_dump($id) ?>
                        </div>
                        <div class="form-group">
                            <?php var_dump($packReceive) ?>
                        </div>
                        <div class="form-group">
                            <?php var_dump($instance) ?>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                            <div class="col-sm-4">
                                <input type="hidden" name="token" value="{$_W['token']}" />
                                <input type="hidden" name="id" value="{$id}" />
                                <input type="hidden" value="check_receive" name="op" />
                                <input type="hidden" value="{$uid}" name="uid" />
                                <input type="hidden" value="{$type}" name="type" />
                                <input type="hidden" value="" name="status" />
                                <input name="submit" type="submit" value="确认收货" class="btn btn-primary span3 btn-sm" />
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        {/if} {elseif $op == "redirect"}
        <script>
            window.location.href = "<?php echo $redirect; ?>";
        </script>
        {else}
        <div class="weui-msg">
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">智慧机房</h2>
            </div>
            <div class="weui-msg__icon-area">
                <img src="./images/logo_100.png" alt="智慧机房">
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <button type="button" class="weui-btn weui-btn_primary" id="btnScan">扫描二维码</button>
                    <button type="button" class="weui-btn weui-btn_default" id="btnManual">手动输入</button>
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <!--<p class="weui-footer__links">
                        <a href="javascript:void(0);" class="weui-footer__link">智慧机房</a>
                    </p>-->
                    <p class="weui-footer__text">Copyright © 智慧机房</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
        <script>
            var appIdstr = "{$wx['appId']}";
            var timestampstr = "{$wx['timestamp']}";
            var nonceStrstr = "{$wx['nonceStr']}";
            var signaturestr = "{$wx['signature']}";
            wx.config({
                // debug: true,
                appId: appIdstr,
                timestamp: timestampstr,
                nonceStr: nonceStrstr,
                signature: signaturestr,
                jsApiList: [
                    'scanQRCode'
                ]
            });
            wx.ready(function () {
                //扫描二维码
            });

            document.getElementById("btnScan").onclick = function fun() {
                wx.scanQRCode({
                    needResult: 1, //0是微信处理,1是结果
                    desc: '我们自己来处理结果',
                    scanType: ["qrCode", "barCode"],
                    success: function (res) {
                        var result = res.resultStr;
                        var urlx = "{$_W['siteroot']}app/index.php?keyword=" + urlencode(result) + "&c=entry&do=line&i={$weid}&m=yoby_cha&id={$id}";
                        window.location.href = urlx;
                    }
                });
            };
            document.getElementById("btnManual").onclick = function fun() {
                window.location.href = "{$_W['siteroot']}app/index.php?c=entry&do=search&i={$weid}&m=yoby_cha";;
                };
        </script>
        {/if}
</body>

</html>