<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <base href="{$yobyurl}">
    <title>{$row['hd_title']}</title>
    <link rel="stylesheet" href="weui/dist/style/weui.min.css" />
    <script src="weui/dist/example/zepto.min.js"></script>
    <script src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
    <style>
        .content-op-ok .weui-form-preview__hd {
            padding: 0;
        }

        .content-op-ok .weui-form-preview__hd:after {
            border-bottom: 0;
        }

        .content-op-ok .weui-form-preview__hd img {
            display: block;
            width: 100%;
        }

        .content-op-ok .weui-form-preview__btn_warn {
            color: #E64340;
        }

        .content-op-ok .preview__more {
            height: 0;
            opacity: 0;
            overflow: hidden;
        }

        .content-op-ok .preview__dialog {
            display: none;
        }

        .content-op-ok .preview__dialog .weui-dialog__hd {
            padding: 0.6em 1.6em;
        }

        .content-op-ok .preview__dialog .weui-dialog__bd {
            padding-left: 0.6em;
            padding-right: 0.6em;
        }

        .content-op-ok .preview__dialog .weui-dialog__bd .weui-cells {
            margin-top: 0;
        }

        .content-op-ok .preview__dialog .weui-cell__bd {
            text-align: left;
        }
    </style>
</head>

<body>
    <?php
        $wx = $_W['account']['jssdkconfig'];
        $wx['url'] ='http://'.$_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ;
    ?>
        <!--level 1-->{if $op == "failed"}
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">无对应信息！</h2>
                <p class="weui-msg__desc">确认此标签已导入系统？</p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="javascript:history.back();" class="weui-btn weui-btn_primary">继续扫一扫</a>
                </p>
            </div>
        </div>
        <!--level 1-->{elseif $op == "ok"}
        <form action="" method="post" class="content-op-ok">
            <div class="weui-form-preview">
                <!--level 2-->{if $type == "DEV"}
                <div class="weui-form-preview__hd"><img src="./images/img_1.png" /></div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">设备隶属部门</label>
                        <span class="weui-form-preview__value">{$instance['department']}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">设备维护人</label>
                        <span class="weui-form-preview__value">{$instance['maintain']}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">维护人联系方式</label>
                        <span class="weui-form-preview__value">{$instance['contact']}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">经办人</label>
                        <span class="weui-form-preview__value">{$instance['agent']}</span>
                    </div>
                    <div class="preview__more">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">设备产生批号</label>
                            <span class="weui-form-preview__value">{$instance['productlot']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">设备采购日期</label>
                            <span class="weui-form-preview__value">{$instance['purchasedate']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">产品产地</label>
                            <span class="weui-form-preview__value">{$instance['productarea']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">采购金额</label>
                            <span class="weui-form-preview__value">{$instance['purchaseamount']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">质保期内</label>
                            <span class="weui-form-preview__value">{$instance['inqualityguard']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">折旧年限</label>
                            <span class="weui-form-preview__value">{$instance['depreciable']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">折旧金额</label>
                            <span class="weui-form-preview__value">{$instance['depreciableamount']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">净残值</label>
                            <span class="weui-form-preview__value">{$instance['netsalvage']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">内存</label>
                            <span class="weui-form-preview__value">{$instance['memory']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">硬盘</label>
                            <span class="weui-form-preview__value">{$instance['harddisk']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">网卡</label>
                            <span class="weui-form-preview__value">{$instance['network']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">CPU</label>
                            <span class="weui-form-preview__value">{$instance['CPU']}</span>
                        </div>
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <input type="hidden" value="check_once" name="op" />
                    <button type="button" class="weui-form-preview__btn weui-form-preview__btn_warn preview__btn__report">故障记录</button>
                    <button type="button" class="weui-form-preview__btn weui-form-preview__btn_primary preview__btn__submit">巡检正常</button>
                    <button type="button" class="weui-form-preview__btn weui-form-preview__btn_default preview__btn__more">展开详情</button>
                </div>
                <!--level 2-->{elseif $type == "LINE"}
                <div class="weui-form-preview__hd"><img src="./images/img_2.png" /></div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">本端物理端口</label>
                        <span class="weui-form-preview__value">{$instance['localmac']}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">对端物理端口</label>
                        <span class="weui-form-preview__value">{$instance['remotemac']}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">解读信息</label>
                        <span class="weui-form-preview__value">{$instance['info']}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">线缆</label>
                        <span class="weui-form-preview__value">{$instance['link']}</span>
                    </div>
                    <div class="preview__more">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">长度</label>
                            <span class="weui-form-preview__value">{$instance['len']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">材质</label>
                            <span class="weui-form-preview__value">{$instance['material']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">型号</label>
                            <span class="weui-form-preview__value">{$instance['module']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">供应端</label>
                            <span class="weui-form-preview__value">{$instance['supply']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">布放时间</label>
                            <span class="weui-form-preview__value">{$instance['timedeploy']}</span>
                        </div>
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <input type="hidden" value="check_once" name="op" />
                    <button type="button" class="weui-form-preview__btn weui-form-preview__btn_warn preview__btn__report">故障记录</button>
                    <button type="button" class="weui-form-preview__btn weui-form-preview__btn_primary preview__btn__submit">巡检正常</button>
                    <button type="button" class="weui-form-preview__btn weui-form-preview__btn_default preview__btn__more">展开详情</button>
                </div>
                <!--level 2-->{elseif $type == "PACK"}
                <div class="weui-form-preview__hd"><img src="./images/img_3.png" /></div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">订单号</label>
                        <span class="weui-form-preview__value">{$instance['orderno']}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">发货日期</label>
                        <span class="weui-form-preview__value">{$instance['deliverydate']}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">数量</label>
                        <span class="weui-form-preview__value">{$instance['amount']}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">装箱单号</label>
                        <span class="weui-form-preview__value">{$instance['packno']}</span>
                    </div>
                    <div class="preview__more">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">长度</label>
                            <span class="weui-form-preview__value">{$instance['len']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">型号</label>
                            <span class="weui-form-preview__value">{$instance['module']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">线材类型</label>
                            <span class="weui-form-preview__value">{$instance['linecategory']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">接口类型</label>
                            <span class="weui-form-preview__value">{$instance['jointcategory']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">产品产地</label>
                            <span class="weui-form-preview__value">{$instance['productarea']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">产品规格</label>
                            <span class="weui-form-preview__value">{$instance['productstand']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">供应商</label>
                            <span class="weui-form-preview__value">{$instance['productsupplier']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">布放时间</label>
                            <span class="weui-form-preview__value">{$instance['timedeploy']}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">施工队</label>
                            <span class="weui-form-preview__value">{$instance['constructteam']}</span>
                        </div>
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <input type="hidden" value="check_receive" name="op" />
                    <button type="button" class="weui-form-preview__btn weui-form-preview__btn_primary preview__btn__submit">确认收货</button>
                    <button type="button" class="weui-form-preview__btn weui-form-preview__btn_default preview__btn__more">展开详情</button>
                </div>
                <!--level 2-->{/if}
            </div>
            <div class="js_dialog preview__dialog">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__hd"><strong class="weui-dialog__title">故障记录</strong></div>
                    <div class="weui-dialog__bd">
                        <div class="weui-cells weui-cells_radio"></div>
                    </div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:void(0);" class="weui-dialog__btn weui-dialog__btn_primary">提交</a>
                        <a href="javascript:void(0);" class="weui-dialog__btn weui-dialog__btn_default">关闭</a>
                    </div>
                </div>
            </div>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$id}" />
            <input type="hidden" value="{$uid}" name="uid" />
            <input type="hidden" value="{$type}" name="type" />
            <input type="hidden" value="OK" name="status" />
        </form>
        <script>
            $(function () {
                var cells = $('.preview__dialog .weui-cells_radio'),
                    radios = [];
                $.each({
                    BLOCKED: '不通',
                    EVANES: '光衰大',
                    MODERR: '模块坏',
                    OTHER: '其他',
                    DAMAGE: '已损坏',
                    NOEASY: '不好用',
                    BATTERY: '电池坏'
                }, function (key, val) {
                    radios.push('<label class="weui-cell weui-check__label" for="preview__dialog__radio__' + key + '">' +
                        '<div class="weui-cell__bd"><p>' + val + '</p></div>' +
                        '<div class="weui-cell__ft">' +
                        '<input class="weui-check" type="radio" name="preview__dialog__radio" id="preview__dialog__radio__' + key + '" value="' + key + '" />' +
                        '<span class="weui-icon-checked"></span>' +
                        '</div>' +
                        '</label>');
                });
                cells.html(radios.join(''));
                $('label[for=preview__dialog__radio__BLOCKED]').trigger('click');
            });
            $(function () {
                var $form = $('.content-op-ok'),
                    $status = $('.content-op-ok input[name="status"]'),
                    $btnSubmit = $('.preview__btn__submit'),
                    $btnMore = $('.preview__btn__more'),
                    $btnReport = $('.preview__btn__report'),
                    $more = $('.preview__more'),
                    $dialog = $('.preview__dialog'),
                    $dialogMask = $('.preview__dialog>.weui-mask'),
                    $dialogSubmit = $('.preview__dialog .weui-dialog__btn_primary'),
                    $dialogClose = $('.preview__dialog .weui-dialog__btn_default'),
                    close = true;
                $btnSubmit.on('click', function () {
                    $status.val('OK');
                    $form[0].submit();
                });

                $btnReport.on('click', function () {
                    $dialog.fadeIn(200);
                });

                $btnSubmit.on('click', function () {
                    $status.val('OK');
                    $form[0].submit();
                });
                $dialogSubmit.on('click', function () {
                    $status.val($('input[name=preview__dialog__radio]:checked').val());
                    $form[0].submit();
                });

                $dialogMask.on('click', function () {
                    $dialog.fadeOut(200);
                });
                $dialogClose.on('click', function () {
                    $dialog.fadeOut(200);
                });

                $btnMore.on('click', function () {
                    if (close) {
                        close = false;
                        $more.css({
                            height: 'auto',
                            visibility: 'hidden',
                            position: 'absolute',
                            zIndex: -1
                        });
                        var height = $more.height();
                        $more.css({
                            height: 0,
                            visibility: 'inherit',
                            position: 'inherit',
                            zIndex: 0
                        });
                        $more.animate({
                            height: height,
                            opacity: 1
                        }, 200, 'ease-in-out', function () {
                            $btnMore.html('收起详情');
                        });
                    } else {
                        close = true;
                        $more.animate({
                            height: 0,
                            opacity: 0
                        }, 200, 'ease-in-out', function () {
                            $btnMore.html('展开详情');
                        });
                    }
                });
            });
        </script>
        <!--level 1-->{elseif $op == "redirect"}
        <script>
            window.location.href = "<?php echo $redirect; ?>";
        </script>
        <!--level 1-->{else}
        <div class="weui-msg">
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">智慧机房</h2>
            </div>
            <div class="weui-msg__icon-area">
                <img src="./images/logo_100.png" alt="智慧机房">
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <button type="button" class="weui-btn weui-btn_primary" id="btnScan">扫一扫</button>
                    <button type="button" class="weui-btn weui-btn_default" id="btnManual">搜一搜</button>
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <!--<p class="weui-footer__links">
                        <a href="javascript:void(0);" class="weui-footer__link">智慧机房</a>
                    </p>-->
                    <p class="weui-footer__text">Copyright © 智慧机房</p>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                var appIdstr = "{$wx['appId']}";
                var timestampstr = "{$wx['timestamp']}";
                var nonceStrstr = "{$wx['nonceStr']}";
                var signaturestr = "{$wx['signature']}";
                wx.config({
                    debug: false,
                    appId: appIdstr,
                    timestamp: timestampstr,
                    nonceStr: nonceStrstr,
                    signature: signaturestr,
                    jsApiList: [
                        'scanQRCode'
                    ]
                });
                wx.ready(function () {
                    //扫描二维码
                });

                document.getElementById("btnScan").onclick = function fun() {
                    wx.scanQRCode({
                        needResult: 1, //0是微信处理,1是结果
                        desc: '我们自己来处理结果',
                        scanType: ["qrCode", "barCode"],
                        success: function (res) {
                            var result = encodeURI(res.resultStr);
                            var urlx = "{$_W['siteroot']}app/index.php?keyword=" + result + "&c=entry&do=line&i={$weid}&m=yoby_cha&id={$id}";
                            window.location.href = urlx;
                        }
                    });
                };
                document.getElementById("btnManual").onclick = function fun() {
                    window.location.href = "{$_W['siteroot']}app/index.php?c=entry&do=search&i={$weid}&m=yoby_cha";;
                };
            });
        </script>
        <!--level 1-->{/if}
</body>

</html>