<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <base href="{$yobyurl}">
    <title>{$row['hd_title']}</title>
    <!--<link rel="stylesheet" href="weui/weuix.min.css" />-->
    <link rel="stylesheet" href="weui/dist/style/weui.min.css">
    <!--<script src="weui/zepto.js"></script>-->
</head>

<body>
    {if $op == "ok"}
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">绑定成功</h2>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:WeixinJSBridge.call('closeWindow');" class="weui-btn weui-btn_primary">确定</a>
            </p>
        </div>
    </div>
    {else}
    <form method="post" action="">
        <div class="weui-msg">
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">智慧机房</h2>
            </div>
            <div class="weui-msg__icon-area">
                <img src="./images/logo_100.png" alt="智慧机房">
            </div>
            <div class="weui-msg__text-area">
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">帐号</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入帐号" type="text" name="user" value="{$item['user']}" maxlength="100" required />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" placeholder="请输入密码" type="password" name="passwd" value="{$item['passwd']}" maxlength="100" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <input type="hidden" name="token" value="{$_W['token']}" />
                    <input type="hidden" value="post" name="op" />
                    <button type="submit" class="weui-btn weui-btn_primary">绑定</button>
                </p>
            </div>
        </div>
    </form>
    {/if}
</body>

</html>