<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <base href="{$yobyurl}">
    <title>{$row['hd_title']}</title>
    <link rel="stylesheet" href="weui/dist/style/weui.min.css" />
</head>

<body>

    <?php
$wx = $_W['account']['jssdkconfig'];
$wx['url'] ='http://'.$_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ;
?>
        <div class="weui-cells" style="margin-top:0;">
            {loop $list $item}
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>{$item['id']}</p>
                </div>
                <div class="weui-cell__ft">
                    {$item['type']}
                </div>
            </div>
            {/loop}
        </div>

</body>

</html>