<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <base href="{$yobyurl}">
    <title>{$row['hd_title']}</title>
    <link rel="stylesheet" href="weui/dist/style/weui.min.css" />
    <style>
        body {
            background-color: #efeff4;
        }

        .weui-form-preview {
            margin-top: 1.6em;
            margin-bottom: 1.6em;
        }

        .weui-form-preview__hd {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>
</head>

<body>

    <?php
$wx = $_W['account']['jssdkconfig'];
$wx['url'] ='http://'.$_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ;
?>
        {loop $list $item}
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">订单号</label>
                    <em class="weui-form-preview__value">{$item['orderno']}</em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">装箱单号</label>
                    <span class="weui-form-preview__value">{$item['packno']}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">数量</label>
                    <span class="weui-form-preview__value">{$item['amount']}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">发货日期</label>
                    <span class="weui-form-preview__value">{$item['deliverydate']}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">收货日期</label>
                    <span class="weui-form-preview__value">{$item['timedeploy']}</span>
                </div>
            </div>
        </div>
        {/loop}

</body>

</html>