<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <base href="{$yobyurl}">
    <title>{$row['hd_title']}</title>
    <link rel="stylesheet" href="weui/dist/style/weui.min.css" />
    <!--<script src="weui/zepto.js"></script>-->
</head>

<body>
    <?php
$wx = $_W['account']['jssdkconfig'];
$wx['url'] ='http://'.$_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ;
?>
        {if $op == "failed"} Failed!! {elseif $op == "ok"} {loop $list $item}
        <div>{$item['type']}{$item['id']}</div>
        {/loop} {else}
        <form action="" method="POST">
            <div class="weui-search-bar" id="searchBar">
                <div class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i>
                        <input class="weui-search-bar__input" id="searchInput" name="keyword" type="text" placeholder="请输入查询信息" maxlength="100" required type="search" />
                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                    </div>
                    <label class="weui-search-bar__label" id="searchText">
                    <i class="weui-icon-search"></i>
                    <span>搜索</span>
                </label>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                    <input type="hidden" value="{$uid}" name="uid" />
                </div>
                <button type="submit" style="color:#FFF;" class="weui-btn weui-btn_mini weui-btn_primary weui-search-bar__cancel-btn">搜索</button>
            </div>
        </form>
        <script type="text/javascript">
            (function () {
                var searchBar = document.querySelector('#searchBar'),
                    searchInput = document.querySelector('#searchInput'),
                    searchClear = document.querySelector('#searchClear'),
                    searchText = document.querySelector('#searchText');
                searchInput.addEventListener('blur', function () {
                    if (!this.value.length) {
                        searchBar.classList.remove('weui-search-bar_focusing');
                    }
                });
                searchInput.addEventListener('focus', function () {
                    searchBar.classList.add('weui-search-bar_focusing');
                });
                searchText.addEventListener('click', function () {
                    searchInput.focus();
                });
                searchClear.addEventListener('click', function () {
                    searchInput.value = '';
                    searchInput.focus();
                });
            }());
        </script>
        {/if}
</body>

</html>