.list{background: #fff;}
.left-img{width: 30%;float: left;}
.left-img img{width: 100%;}
.right-content{width: 96%;margin-left: 4%;}
.title_hr{color:#ff0033;}
.img_center{display: block;margin: 10px auto;width: 60%;}

