{template '../xiaoye/newHead'}
<div class="z_main">
    <div  id='list'>
        {template '../xiaoye/Neimsg_content'}
    </div>
    <div id="add_msg" class="add_msg"></div>
    {template 'jsweixin'}
    {template '../xiaoye/newStudentFooter'}
  </div>
   <script>
    var pager    = 1;
    $(function(){
        $(window).scroll(function(){
            if ($(document).height() - $(this).scrollTop() - $(this).height() < 100){
                if(pager==0) return false;
                pager++;       
                $.ajax({
                url:'{php echo $this->createMobileUrl('Neimsg')}',
                type:'post',
                data:{page:pager,ac:'ajax' },
                dataType:'text',
                async:'false',
                success:function(html){
                        if(html=='done' ){
                            $("#add_msg").html("已经全部查看！");
                            pager=0;
                        }else{
                            $('#list').append(html);   
                        }
                    }
                });
            }
        });
    });
   </script>
</body>
</html>
