<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />  
		<title>{if $student_name}{$student_name}-{/if}{if $teacher_name} {$teacher_name}-{/if} {$page_title}-{$_SESSION['school_name']}</title>
		<link rel="stylesheet" type="text/css" href="{MODULE_URL}/template/xiaoye/css/content_css.css?{php echo time();}">
		<script src="{MODULE_URL}/style/js/jquery.min.js"></script>
		<script src="{MODULE_URL}/template/xiaoye/js/load.js"></script>
		 <script src="{MODULE_URL}/template/xiaoye/js/audioplayer.js"></script>
	</head>
<body>