{template '../xiaoye/newTeaHead'}
<body>
	<div class="main">
		<div class="ft">
            <div class="ft2"><a href="{php echo $this->createMobileUrl("Tea_msg")}">发布消息</a></div>
            <div class="ft1"><a href="{php echo $this->createMobileUrl("tea_msgHistory")}">作业记录</a></div>
		</div>
        <ul class="zy" id="msg_list">
            {template '../xiaoye/Tea_msgHistory_ajax'}
        </ul>
        <div class="yck" id='end_text'></div>
        {php $center_class = 'cde'}
        {template '../xiaoye/newTeaFooter'}
        {template 'jsweixin'}
    </div>
</body>
<script>
    var pager =2;
    function getHomeWorkList(){
    if(pager>0){
        $.ajax({
        url:"{php echo $this->createMobileUrl('Tea_msgHistory',array('ac'=>'ajax'))}",
        type:'post',
        data:{pager:pager},
        success:function(html){
            if(html && html !='done'){
                $("#msg_list").append(html);
                pager++;
            }else{
                $("#end_text").html("已经全部查看完了");
                pager = 0;
            }
        }
        });
    }
    }
    $(function(){
        getHomeWorkList();
        $(window).scroll(function(){
            if ($(document).height() - $(this).scrollTop() - $(this).height() < 100){
                getHomeWorkList();
            }
        });
    });

</script>
</html>
