{template 'school/app_header'}
<body>
  <section class="w-section mobile-wrapper">
    <div class="page-content" id="main-stack">
      <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
        <div class="w-container">
        {template 'school/app_left'}
          <div class="wrapper-mask" data-ix="menu-mask"></div>
          <div class="navbar-title">六月</div>
          <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
            <div class="navbar-button-icon home-icon">
              <div class="bar-home-icon top"></div>
              <div class="bar-home-icon middle"></div>
              <div class="bar-home-icon bottom"></div>
            </div>
          </div>
          <a class="w-inline-block navbar-button right" href="#">
            <div class="navbar-button-icon icon ion-ios-plus-empty"></div>
          </a>
        </div>
      </div>
      <div class="body">
        <div class="calendar">
          <div class="calendar-header">
            <ul class="w-clearfix calendar-days">
              <li class="calendar-cell-day">
                <div class="text-calendar-event header">日</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event header">一</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event header">二</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event header">三</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event header">四</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event header">五</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event header">六</div>
              </li>
            </ul>
          </div>
          <div class="calendar-body">
            <ul class="w-clearfix calendar-days">
              <li class="calendar-cell-day">
                <div class="text-calendar-event semitrans">31</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">1</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">2</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">3</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">4</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">5</div>
                <div class="event-bullet"></div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">6</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">7</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">8</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">9</div>
                <div class="event-bullet"></div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">10</div>
                <div class="event-bullet"></div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">11</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">12</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">13</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">14</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">15</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">16</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">17</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">18</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">19</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">20</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">21</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">22</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">23</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">24</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">25</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">26</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">27</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">28</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">29</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">30</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event">31</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event semitrans">1</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event semitrans">2</div>
              </li>
              <li class="calendar-cell-day">
                <div class="text-calendar-event semitrans">3</div>
              </li>
            </ul>
          </div>
        </div>
        <ul class="list list-events">
          <li class="list-calendar-events" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="addnew.html" data-load="1">
              <div class="calendar-col-left">
                <div class="event-title">Meeting with Andrew</div>
                <div class="w-clearfix text-event-wrap">
                  <div class="left-text-icon icon ion-ios-clock-outline"></div>
                  <div class="event-text">8 - 10am</div>
                  <div class="left-text-icon icon ion-ios-location-outline"></div>
                  <div class="event-text">Manhattan</div>
                </div>
              </div>
              <div class="w-clearfix calendar-col-right">
                <div class="image-calendar-event"><img width="28" src="images/placeholder.png">
                </div>
              </div>
            </a>
          </li>
          <li class="list-calendar-events" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="addnew.html" data-load="1">
              <div class="calendar-col-left">
                <div class="event-title">Meeting with Ana</div>
                <div class="w-clearfix text-event-wrap">
                  <div class="left-text-icon icon ion-ios-clock-outline"></div>
                  <div class="event-text">1 - 2am</div>
                  <div class="left-text-icon icon ion-ios-location-outline"></div>
                  <div class="event-text">Restaurant</div>
                </div>
              </div>
              <div class="w-clearfix calendar-col-right">
                <div class="image-calendar-event"><img width="28" src="images/placeholder.png">
                </div>
              </div>
            </a>
          </li>
          <li class="list-calendar-events" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="addnew.html" data-load="1">
              <div class="calendar-col-left">
                <div class="event-title">Meeting with Sophie</div>
                <div class="w-clearfix text-event-wrap">
                  <div class="left-text-icon icon ion-ios-clock-outline"></div>
                  <div class="event-text">10 - 11am</div>
                  <div class="left-text-icon icon ion-ios-location-outline"></div>
                  <div class="event-text">Office</div>
                </div>
              </div>
              <div class="w-clearfix calendar-col-right">
                <div class="image-calendar-event"><img width="28" src="images/placeholder.png">
                </div>
              </div>
            </a>
          </li>
          <li class="list-calendar-events" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="addnew.html" data-load="1">
              <div class="calendar-col-left">
                <div class="event-title">Meeting with David</div>
                <div class="w-clearfix text-event-wrap">
                  <div class="left-text-icon icon ion-ios-clock-outline"></div>
                  <div class="event-text">4 - 6pm</div>
                  <div class="left-text-icon icon ion-ios-location-outline"></div>
                  <div class="event-text">Headquarters</div>
                </div>
              </div>
              <div class="w-clearfix calendar-col-right">
                <div class="image-calendar-event"><img width="28" src="images/placeholder.png">
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </section>
{template 'school/app_footer'}
</body>
</html>