{template 'common/header'}
{template 'common'}
<ul class="nav nav-tabs">
	<li {if  $ac == 'list'}class="active"{/if}>
	<a href="{php echo $this->createWebUrl('homework');}">作业发布</a>
	</li>
	{if $ac=='edit'}
	<li {if  $ac == 'edit'} class="active"{/if}>
		<a href="#">编辑</a>
	</li> 
	{/if}
	{if $ac=='new'}
	<li {if  $ac == 'new'} class="active"{/if}>
		<a href="#">新增</a>
	</li> 
	{/if}	
</ul>
<script>
    $(function(){
         $("#checkAction").click(function(){
            obj=$(".class_ids");
            if(obj.prop("checked"))
                obj.prop('checked',false);
            else 
                obj.prop('checked',true);
         });
    });
</script>
<div class="main">
	{if $ac=='list'}
		<div class="panel-body table-responsive">
     	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<table class="table table-hover" style='max-width:30%;float:left;'>
			<thead class="navbar-inner">
				<tr>
					<th style="width:30%">选择班级</th>
					<th style="width:20%"><span id='checkAction' class='red'>全选/取消</span> &nbsp;&nbsp;操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td><a href="{php echo  $this->createWebUrl('homework',array('ac'=>'new','cid'=>$item['class_id']))}">
                        【{php echo $this->gradeName($item['grade_id']);}】{$item['class_name']}</a></td>
					<td> 
                        <input type='checkbox' name='class_ids[]' class='class_ids' value='{$item['class_id']}'>
						&nbsp;&nbsp;
                        <a href="{php echo $this->createWebUrl('homework',array('ac'=>'old','cid'=>$item['class_id']))}"  
                             class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title='查看以往'><i class='fa fa-clock-o'></i>
                        </a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
        <div style='max-width:60%;float:left;margin-left:5%'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    新增
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>内容</label>
                        <div class="col-sm-9 col-xs-8">
                            {php echo tpl_ueditor('content',$result['content']);}	
                        </div>
                    </div>	
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>图片组</label>
                        <div class="col-sm-9 col-xs-8">
                        {php echo tpl_form_field_multi_image('img', $images);}
                        </div>
                    </div>               
                    <div class='form-group'>
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>课程</label>
                    <div class="col-sm-9 col-xs-8">
                        {loop $course_list $row}
                            <input type='radio' value='{$row['course_id']}' name='course_id' >{$row['course_name']}&nbsp;&nbsp;
                        {/loop}
                    </div>							
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                <div class="col-sm-9 col-xs-8">
                    <input type='hidden' name='ac' value='new'>
                    <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
                </div>
                </div>
            </div>		
        </div>
	</form>	       
	</div>
	{/if}
	{if $ac=='old'}
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>班级</th>
					<th>发布老师</th>
					<th>科目</th>
					<th>时间</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>{$class['class_name']}</td>
                    <td>{$t_name}</td>
                    <td>{php echo $this->courseName($item['course_id']);}</td>
                    <td>{php echo date("Y-m-d H:i:s",$item['add_time']);}</td>
					<td>{if $item['status'] ==1}正常{else}关闭{/if}</td>
					<td>
						<a href="{php echo $this->createWebUrl('homework',array('ac'=>'edit','hid'=>$item['homework_id']))}"
                               class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top"  title='编辑'
                            ><i class='fa fa-edit'></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
	{/if}
	{if $ac=='new' || $ac=='edit'}
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<input type="hidden" name="cid"   value='{$class['class_id']}' />
		<div class="panel panel-default">
			<div class="panel-heading">
				{if $ac=='new'}新增{else}修改{/if}
			</div>
			<div class="panel-body">
				<div class="tab-content">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>内容</label>
					<div class="col-sm-9 col-xs-8">
						{php echo tpl_ueditor('content',$result['content']);}	
					</div>
				</div>	
 				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>图片组</label>
					<div class="col-sm-9 col-xs-8">
					{php echo tpl_form_field_multi_image('img', $images);}
					</div>
				</div>               
				<div class='form-group'>
				<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>课程</label>
				<div class="col-sm-9 col-xs-8">
                    {loop $course_list $row}
                        <input type='radio' value='{$row['course_id']}' name='course_id' {if $row['course_id']==$result['course_id']} checked  {/if} >{$row['course_name']}&nbsp;&nbsp;
                    {/loop}
				</div>							
			    </div>
				{if $ac=='edit'}
					<div class='form-group'>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>状态</label>
					<div class="col-sm-9 col-xs-8">
					<select name='status'>
							<option value='1' {if $result['status']==1} selected {/if}>正常</option>
							<option value='0' {if $result['status']==0} selected {/if}>关闭</option>
					</select>
					</div>							
					</div>
				{/if}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
			<div class="col-sm-9 col-xs-8">
				<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			</div>
			</div>
		</div>		
	</form>		
	{/if}
</div>