{if $_GPC['print_code']==1}
	{template 'print_code'}
{elseif $_GPC['print_bd_code']==1}
	{template 'print_bd_code'}
{else}
{template 'common/header'}
{template 'common'}
<ul class="nav nav-tabs">
	<li {if $ac == 'list'}class="active"{/if}>
	<a href="{php echo $this->createWebUrl('student')}">学生列表</a>
	</li>
	{if $ac=='edit'}
	<li {if $ac == 'edit'} class="active"{/if}>
	<a href="{php echo $this->createWebUrl('student', array( 'ac' => 'edit'))}">编辑学生</a>
	</li> {/if}
	<li {if  $ac == 'new' }class="active"{/if}>
	<a href="{php echo $this->createWebUrl('student', array('ac' => 'new'))}">新增学生</a>
	</li>	
</ul>
{if $ac=='list'}
<div class="main">
	<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="lianhu_school" />
			<input type="hidden" name="do" value="student" />
			<input type="hidden" name="ac" value="list" />
            {if $admin !='teacher'}
			 {php $result = schoolGradeClass(); }
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">年级</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
                    <select name="grade_id" id="school_grade_list"   onchange="onChangeGrade()">
                        <option value="0">全部</option>
                        {loop $result['grade'] $row}
                        <option value="{$row['grade_id']}" {if $_GPC['grade_id'] == $row['grade_id']} selected {/if}>{$row['grade_name']}</option>
                        {/loop}
                    </select>
				</div>
			</div>
            {/if}
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">班级</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
               		<select class="w-select input-form select school_class_list" name="class_id" >
                        <option value="0">全部</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">姓名</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					<input name='student_name' id='student_name' value="{$_GPC['student_name']}">
				</div>
			</div>						
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					<select name="status" class='form-control'>
						<option value='0'>全部</option>
						<option value="1" {if $_GPC['status'] == '1'} selected{/if}>正常</option>
						<option value="3" {if $_GPC['status'] == '3'} selected{/if}>关闭</option>
					</select>
				</div>
			</div>
			<div class="form-group">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
					<button class="btn btn-default" type="button">总记录数：{$num}</button>				
					<button class="btn btn-default" name='print_code' value='1' >统一打印二维码</button>				
					<button class="btn btn-default" name='excel' value='1' >导出excel</button>				
			</div>
		</form>
	</div>
</div>
  <script>
      var list = new Array();
      {loop $result['grade'] $row}
        list[{$row['grade_id']}] = new Array();
        {php $i=0;}
        {loop $row['class']  $v}
            list[{$row['grade_id']}][{$i}]           = new Object();
            list[{$row['grade_id']}][{$i}].class_id   = "{$v['class_id']}";
            list[{$row['grade_id']}][{$i}].class_name = "{$v['class_name']}";
            {php $i++;}
        {/loop}
      {/loop}
    function onChangeGrade(){
          var grade_id  = $("#school_grade_list").val();
          var select_class_obj     = $(".school_class_list");

          select_class_obj.html('<option value="0">全部</option>');

          $.each(list[grade_id],function(i,e){
              select_class_obj.append("<option value='"+e.class_id+"'>"+e.class_name+"</option>");
          });
    }
  </script>
<div class="panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>ID</th>
					<th>学生姓名</th>
					<th>系统编号</th>
					<th>学号</th>
					<th>家长姓名</th>
					<th>家长电话</th>
					<th>入学年份</th>
					<th>班级</th>
					<th>状态</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{php $class_student = D('student');}
				{loop $list $item}
				<tr>
					{php $have_parent  =$class_student->returnEfficeOpenid($item);}
					<td>{$item['student_id']}</td>
					<td>{if !$have_parent['f_openid']  && !$have_parent['s_openid'] && !$have_parent['t_openid']}
						<span class='red'>
							{$item['student_name']}
						</span>
						{else}
						{$item['student_name']}
						{/if}</td>
					<td>{$item['student_passport']}</td>
					<td>{$item['xuehao']}</td>
					<td>{$item['parent_name']}</td>
					<td>{$item['parent_phone']}</td>
					{php $grade_info=D('grade')->getGradeInfo($item['grade_id']);}
					<td>{$grade_info['in_school_year']}</td>
					<td>{$grade_info['grade_name']} <i class="fa fa-toggle-right"></i> {$item['class_name']}</td>
					<td>
						{if $item['status'] ==1}正常{else}<span class='red'>关闭</span>{/if}
					</td>
					<td>{php echo date("Y-m-d",$item['addtime']);}</td>
					<td >
						<a href="{php echo $this->createWebUrl('student', array('id' => $item['student_id'], 'op' => 'student','ac'=>'edit'))}"class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
						<a href="{php echo $this->createWebUrl('student', array('id' => $item['student_id'], 'op' => 'student','ac'=>'delete'))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
						<a href="{php echo $this->createWebUrl('qrcode', array('id' => $item['student_id'], 'op' => 'student_live_student' ))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" target="_blank" title="打印二维码"><i class="fa fa-barcode"></i>
						</a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
    {$pager}
	</div>
	</div>
</div>
{/if}
{if $ac=='edit' || $ac=='new'}
	<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">
				{if $ac=='new'}新增学生{else}修改{/if}
			</div>
			<div class="panel-body">
				<div class="tab-content">
				<div class='form-group'>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>选择班级</label>
                    <div class="col-sm-9 col-xs-8">
                    {if $admin=='teacher'}
                        <select id="class_id" class="col-xs-12 col-sm-9 col-lg-3" style="height:30px" name="class_id">
                            {loop $class_list $row}
                                <option value='{$row['class_id']}'>{$row['class_name']}</option>
                            {/loop}
                        </select>
                    {else}
    					{template 'grade_class'}
                    {/if}
                    </div>
				</div>					
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>学生姓名</label>
					<div class="col-sm-9 col-xs-8">
						<input type="text" name="student_name" id="student_name" class="form-control" value='{$result['student_name']}' />
						{if $ac=='edit'}
						<input type="hidden" name="id"  class="form-control" value='{$result['student_id']}' />
						{/if}
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>学号</label>
					<div class="col-sm-9 col-xs-8">
						<input type="text" name="xuehao" id="xuehao" class="form-control" value='{$result['xuehao']}' />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>家庭住址</label>
					<div class="col-sm-9 col-xs-8">
						<input type="text" name="address" id="address" class="form-control" value='{$result['address']}' />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>学生联系方式</label>
					<div class="col-sm-9 col-xs-8">
						<input type="text" name="student_link" id="student_link" class="form-control" value='{$result['student_link']}' />
					</div>
				</div>												
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>学生头像</label>
					<div class="col-sm-9 col-xs-8">
						{php echo tpl_form_field_image('student_img',$result['student_img']);}
					</div>
				</div>				
				<div class='form-group'>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>家长信息</label>
					<div class="col-sm-9 col-xs-12">
						姓名：<input type='text' name='parent_name' value="{$result['parent_name']}" class="form-control">
						联系电话：<input type='text' name='parent_phone' value="{$result['parent_phone']}" class="form-control">
					</div>	
				</div>
				{if $ac=='edit'}
					<div class='form-group'>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>状态</label>
					<div class="col-sm-9 col-xs-8">
					<select name='status'>
							<option value='1' {if 1 ==$result['status']} selected {/if}>正常</option>
							<option value='3' {if 3 ==$result['status']} selected {/if}>关闭</option>
					</select>
					</div>							
					</div>
					<div class='form-group'>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>绑定的微信账号：</label>
					<div class="col-sm-9 col-xs-12">
						{if $result['fanid']}
							<input name='fanid' type='checkbox' value='{$result['fanid']}' checked>{php echo $this->find_user($result['fanid']);}&nbsp;	&nbsp;	&nbsp;						
						{/if}
                        {if $result['fanid1']}
							<input name='fanid1' type='checkbox' value='{$result['fanid1']}' checked>{php echo $this->find_user($result['fanid1']);}	&nbsp;	&nbsp;	&nbsp;	
						{/if}
						{if $result['fanid2']}
							<input name='fanid2' type='checkbox' value='{$result['fanid2']}' checked>{php echo $this->find_user($result['fanid2']);}	&nbsp;	&nbsp;	&nbsp;	
						{/if}												
					</div>	
				</div>
				<div class='form-group'>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"> ID卡：</label>
					<div class="col-sm-9 col-xs-12">
							卡一：<input type='text' name='rfid'  class='span2' value='{$result['rfid']}'>		<br><br>					
							卡二：<input type='text' name='rfid1'  class='span2' value='{$result['rfid1']}'>	<br><br>					
							卡三：<input type='text' name='rfid2'  class='span2' value='{$result['rfid2']}'>						
					</div>	
				</div>
				{/if}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
			<div class="col-sm-9 col-xs-8">
				<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			</div>
			</div>
		</div>		

	</form>
</div>	
{/if}
{/if}