{template 'header'}
{template 'common'}

<link type="text/css" rel="stylesheet" href="../addons/lianhu_school/images/style.css">
<link rel="stylesheet" href="{MODULE_URL}template/mobile/style/style_nav.css">
<style>
body{
padding:0;
}
</style>
  <div class="nav">
			<a  href="{php echo $this->createMobileUrl('Add_student');}" 
                          style="width:50%"class='active' >绑定其他学生账号</a>
			<a  href="{php echo $this->createMobileUrl('change_student');}" 
                        style="width:50%" >切换学生</a>	
    </div> 
<form class="form-horizontal" method="post" role="form" action="{php echo $this->createMobileUrl('add_student', array('submit' => '1'))}">
	<div class="order-main">
		<div class="add-address img-rounded" id="" >
			<div class="add-address-hd">请仔细填写相应资料：</div>
			<div class="add-address-main">
				<div class="form-group">
					<label class="col-sm-3 control-label">学生姓名：</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name='student_name' id='student_name'>
					</div>
				</div>
                {if $config['family_set']!='alone_school'}
				<div class="form-group">
					<label class="col-sm-3 control-label">系统编号：</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name='student_passport' id='student_passport'>
					</div>
				</div>
                {else}	
				<div class="form-group">
					<label class="col-sm-3 control-label">学生编号：</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name='student_passport' id='student_passport'>
					</div>
				</div>                			
                {/if}
 				<div class="form-group">
					<label class="col-sm-3 control-label">关系：</label>
					<div class="col-sm-9">
						{php $relation_list = $this->class_base->getRelation(); }
						<select name='relation' class="form-control" style="border: 1px solid #ccc !important;" >
							{loop $relation_list $row}
								<option value="{$row}">{$row}</option>
							{/loop}
						</select>
					</div>
				</div>				
				<div class="form-group">
					<div class="col-sm-12">
					 <button class="button button-raised button-caution" type="submit" ><i class="fa fa-user"></i>&nbsp;&nbsp;提交</button>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<link href="{MODULE_URL}style/css/weui.min.css" rel="stylesheet" type="text/css" />
{template '../new/footer'}

