<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>我的资料-{$_SESSION['school_name']}</title>
    {template 'common'}
    {template 'tea_common'}
	<link rel="stylesheet" href="{MODULE_URL}template/mobile/style/style_nav.css">
	<style>
	.form-group input {
    display: inline;
    border: 1px solid #ccc;
    width: 67%;
    border-radius: 5px;
    height: 30px;
    padding-left: 1%;
    margin: 0 3% 0 0;
    float: right;
    text-align: left;
}
.col-xs-12 {
     width: 30%;
}
	</style>
</head>
<body>
<div class="main" style='padding-bottom:100px;'>
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<div class=" panel-default">
			<div class="panel-body">
				<div class="tab-content">	
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>教师姓名</label>
						<input type="text" name="nickname" id="nickname"  value='{$info['nickname']}' />
				</div>
							
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>教师照片</label>
                    <div id='img_list' style='margin-bottom:5px;'  >
                    </div>
                    <div style='clear:both'></div>
                    
                    <div  class='hide' id='img_value'> </div>  
                           <div class="button button-action button-rounded button-small" style='margin-bottom:5px;margin:5px 0 0 35%;' id="chooseImage">选择照片</div>
                           <div id='uploadImg' class="" style='margin-bottom:5px;margin-left:10px;'></div>
				</div>	
				</div>
			</div>
				<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                <input type="hidden" name="submit" value="提交" />
				<button class="button button-raised button-caution" type="submit" style="width:86%; margin:0 7%" ><i class="fa fa-user"></i>&nbsp;&nbsp;提交</button>
		</div>		
	</form>
</div>
<script>
    $(function(){
         {if $info['avatar']}
            insertImg('{$info['avatar']}','img_list');
            insertValue('{$info['avatar']}','img_value');
        {/if}
        $("#chooseImage").click(function(){
            chooseImage('img_list','img_value','uploadImg');
        });
    });
    var images = {
        localId: [],
        serverId: []
    };    
    function chooseImage(img_id_name,value_id_name,up_id_name){
         images.localId='';
            wx.chooseImage({
            count: 1, 
            success: function (res) {
                images.localId = res.localIds;
                $.each(images.localId,function(i,e){
                    img_data = realImgDis(e);
                    if(!img_data){
                        wx.getLocalImgData({
                                localId: e, 
                                success: function (res) {
                                    var localData = res.localData; 
                                    img_value = localData;
                                    insertImg(img_value);
                                }
                        });             
                    }else{
                        insertImg(img_data);
                    }
                });
                uploadImg(value_id_name,up_id_name);
            }
         });       
   }   
 function uploadImg(value_id_name,up_id_name){
     if (images.localId.length == 0) {
        alert('请先选择图片');
        return;
    }
    var i = 0, length = images.localId.length;
    images.serverId = [];
    function upload() {
      wx.uploadImage({
        localId: images.localId[i],
        success: function (res) {
          i++;
          images.serverId.push(res.serverId);
          insertValue(res.serverId,value_id_name);
          if (i < length) {
             upload();
          }else{
              $("#"+up_id_name+"").html("上传成功");
          }
        },
        fail: function (res) {
           alert(JSON.stringify(res));
        }
      });
    }
    upload();     
  }
    function insertImg(img_src,id_name){
        $('#'+id_name+'').html("<div style='background-size:cover; background-image:url("+img_src+");width:150px;; height:150px;float:left;margin-left:2%;overflow: hidden; margin-bottom:5px;'></div>");
    }
    function insertValue(value,id_name){
          $('#'+id_name+'').html("<input type='text' name='"+id_name+"' value='"+value+"' >");
    }
</script> 
{template 'jsweixin'}
