<!doctype html>
<html> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>预约活动-{$class_name}-{$_SESSION['school_name']}</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{MODULE_URL}style/css/style.css">
    <link rel="stylesheet" href="{MODULE_URL}style/css/buttons.css">
    <link href="{MODULE_URL}assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{MODULE_URL}template/mobile/style/style_nav.css">
</head>
<body>
 <div class="nav">
			<a  href="{php echo $this->createMobileUrl('applist');}" 
                          style="width:50%" class='active'>预约项目</a>
			<a  href="{php echo $this->createMobileUrl('Applist_result');}" 
                        style="width:50%" >预约结果</a>	
    </div> 
<div>
    <ul class="ul-list focus-list" id="focus-list" style='padding-left:0'>
      {loop $list $row}
         <li>
            <a href="{php echo $this->createMobileUrl('appointment_article',array('op'=>$row['appointment_id']));}"><b>
                <strong style="color:#ff0033;display:inline-block;float:left;">【 {if $row['status']==1 && $row['appointment_end']>time()  && time()>$row['appointment_start']}进行中{elseif $row['status']==1 && $row['appointment_end']< time() }已结束 {elseif $row['status']==1 && $row['appointment_start']>time() }未开始{/if} 】</strong> {$row['appointment_name']}</b>
              &nbsp;&nbsp;{php echo $this->clear_html_short($row['appointment_intro']);}</a>
            <p class="p-btm"><u>{if $row['appointment_type_limit']==0}全校{elseif $row['appointment_type_limit']==1}年级{elseif $row['appointment_type_limit']==2}班级{/if}</u>|<time>{php echo date("m-d H:i",$row['appointment_start']);}--{php echo date("m-d H:i",$row['appointment_end']);}</time>|<i>
            <a href="#">申请数({$row['appointment_join_num']})</a></i></p>              
        </li>        
      {/loop}
    </ul>
<!--     <div class="idx-pages" {if $total> $pagesize} onclick='ajax_con({$type})'{/if}>
       <a href="#" >{if $total<$pagesize}没有啦{else}更多{/if}</a>
    </div> -->
</div>
{template 'jsweixin'}
{template 'footer'}