<!DOCTYPE html>
<html class="no-js" lang="en"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{$result['realname']}
  </title>
  <meta name="keywords" content="{$result['realname']}">
  <meta name="description" content="{$result['realname']}">
  <meta name="author" content="">
  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <link rel="stylesheet" href="../../addons/lianhu_partner/template/mobile/asas_files/5f0d6b0f.base.css">
  <link rel="stylesheet" href="../../addons/lianhu_partner/template/mobile/asas_files/a6490475.content.css">
<script src="../../addons/lianhu_partner/template/mobile/asas_files/share.js"></script><link rel="stylesheet" href="../../addons/lianhu_partner/template/mobile/asas_files/share_style0_16.css"></head>
<body>
<div class="container">
<div class="cover">
    <div class="cover-image" style="background-image : url(http://cdn.loveli.name/FlU5aiJm5LJtNXQkOcbxBU0K2itL!preface.jpg)"></div>
</div>
<div class="tutor-full">
    <div class="column">
	<div class="tutor-full-main" id="tutorInfo">
		<span class="tutor-avatar tutorAvatar">
			<img src="../attachment/{$result['img']}" alt="{$result['realname']}">
		</span>
	             <div class="tutor-info">
	            		<div>
			             <span class="tutor-name" data-tutor_id="84772084">{$result['realname']}</span>
			             <span class="tutor-title">{$result['company']}</span>
	                	</div>
	             </div>
        	</div>
    </div>
</div>
<div class="content">
    <div class="main topic-top">
        <div class="tutor-content">
			<h2>资料</h2>
			<ul id="topicList" class="topic-list">
                <li class="topic-item">
                    <div class="topic-info">
                        <h3 class="topic-title topicTitle" data-topic_id="29864408" data-topic_price="399" data-is_meeting="false">{$result['nickname']}</h3>
                        <h3 class="topic-title topicTitle" data-topic_id="29864408" data-topic_price="399" data-is_meeting="false">{$result['telphone']}</h3>
                        <span class="stars stars-10"></span>
                    </div>
                </li>
			</ul>
			
			<h2>关于TA</h2>
            <div class="about-tutor"><div>
{$result['content']}
    </div></div>
		</div>
    </div>
</div>
  
</div>
<script src="../../addons/lianhu_partner/template/mobile/asas_files/118fcd46.base.js"></script>
<script src="../../addons/lianhu_partner/template/mobile/asas_files/e7ed3e6e.main.js"></script>
<script>
var validateObj = {"is_self" : false,"has_realname" : false,"is_mobile_verified" :  false},
    tutor_city = "\u5317\u4eac",
	tutor = {"id":"84772084","summary": "顺为资本分析师", "realname": "李雨萌"};
</script>
<script src="../../addons/lianhu_partner/template/mobile/asas_files/d4442b7e.content.js"></script>
<!-- end scripts -->
</body></html>