<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>我的课程-{$_SESSION['school_name']}</title>
    {template 'common'}
    {template 'tea_common'}
	<link rel="stylesheet" href="{MODULE_URL}template/mobile/style/style_nav.css">
	<style>
	.accordion-heading img {
    padding: 0;
    width: 15px;
    height: 15px;
    float: right;
    margin: 10px 10px 5px 0;
}
	</style>
</head>
<body>
 <div class="top-wrap">
        <div class="fn-clear tr-box top">
            <div class='text_center'>今日课程</div>
        </div>
  </div>    
  <div id="accordion-305683" class="accordion" style='margin-bottom:60px'>
      {loop $list $g $row}
            {php $old_result = D('classes')->classSyllabus($row['class_id']); }
            <div class="accordion-heading" >
                {if $old_result['url'] }
                         <a class="accordion-toggle collapsed"  href="{$old_result['url']}" >{php echo $this->classGradeName($row['class_id'])}-{$row['name']}</a> 
                {else}
                         <a class="accordion-toggle collapsed"  href="#accordion-element-{$g}" data-parent="#accordion-{$g}{$g}" data-toggle="collapse">{php echo $this->classGradeName($row['class_id'])}-{$row['name']}
						        <img src="{MODULE_URL}template/mobile/style/bottom_blue.png" />
						</a>               
                {/if}
            </div>      
            <div class="accordion-group">
            <div id="accordion-element-{$g}" class="accordion-body collapse" style="height: 0px;">
            <div  >
            <table border="1"  bordercolor="#ccc" cellpadding="5" 
                    cellspacing="0" class="table table-bordered" 
                    height="220" style="border-collapse:collapse;width:100%">
                <thead>
                    <tr>
                        <th style='text-align:center'>课程</th>
                        <th style='text-align:center'>上课时间</th>
                        <th style='text-align:center'>结束时间</th>
                    </tr>
                </thead>
                <tbody>
                    {loop $row['course'] $v}
                    {if $v}
                        {loop $v $rw}
                          <tr>
                              <td>{$rw['course_name']}</td>
                              <td>{$rw['begin_time']}</td>
                              <td>{$rw['end_time']}</td>
                         </tr>      
                         {/loop}               
                    {/if}
                    {/loop}
                        </tbody>
                    </table>
                 </div>
            </div>             
      </div>
      {/loop}
     </div>
{template 'jsweixin'}
<link href="{MODULE_URL}style/css/weui.min.css" rel="stylesheet" type="text/css" />
 {template '../new/tea_footer'}
