<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>班级圈-{$_SESSION['school_name']}</title>
    {template 'common'}
    {template 'tea_common'}
    <link href="{MODULE_URL}style/css/line_css.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{MODULE_URL}template/mobile/style/style_nav.css">
</head>
<div class="top-wrap">
        <div class="fn-clear tr-box top bg_yellow" >
            <div class='text_center white'>班级圈</div>
        </div>
 </div>  
 
<div class="main" style='margin-bottom:60px;'>
	{if $ac=='list'}
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>选择班级</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list['list_all'] $item}
				<tr> 
					<td>{$item['grade_name']}-{$item['class_name']}</td>
					<td>
                        <a href="{php echo $this->createMobileUrl('line',array('class_id'=>$item['class_id']))}">班级圈</a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	{/if}
</div>
<link href="{MODULE_URL}style/css/weui.min.css" rel="stylesheet" type="text/css" />
 {template '../new/tea_footer'}