<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>班级公告-{$_SESSION['school_name']}</title>
    {template 'common'}
    {template 'tea_common'}
    <link href="{MODULE_URL}style/css/line_css.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{MODULE_URL}template/mobile/style/style_nav.css">
</head>
<div class="top-wrap">
        <div class="fn-clear tr-box top bg_yellow" >
            <div class='text_center white'>班级公告</div>
        </div>
 </div>  
<div class="main" style='margin-bottom:60px;'>
	{if $ac=='list'}
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>选择班级</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td><a href="{php echo  $this->createMobileUrl('Tea_line',array('ac'=>'new','cid'=>$item['class_id']))}">{$item['grade_name']}--{$item['class_name']}</a></td>
                    
					<td>
                        <a href="{php echo $this->createMobileUrl('Tea_line',array('ac'=>'new','cid'=>$item['class_id']))}">新增</a>&nbsp;&nbsp;&nbsp;
						<a href="{php echo $this->createMobileUrl('Tea_line',array('ac'=>'old','cid'=>$item['class_id']))}">查看</a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	{/if}
	{if $ac=='old'}
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>标题</th>
					<th>发布老师</th>
					<th>类型</th>
					<th>查看数</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr id="line_{$item['line_id']}">
					<td>{$item['line_title']}</td>
					<td>{if $item['teacher_realname']}{$item['teacher_realname']}{else}管理员{/if}</td>
					<td>{$line_type_cfg[$item['line_type']]}</td>
					<td>{$item['line_look']}</td>
					<td>{if $item['status'] ==1}正常{else if $item['status']==2}审核中{else}关闭{/if}</td>
					<td>
						<a href="{php echo $this->createMobileUrl('Tea_line',array('ac'=>'edit','lid'=>$item['line_id']))}">编辑</a>
						<span class='btn btn-default btn-sm red ' onclick="deleteThis('{$item['line_id']}','line')"  >删除</span>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
	{/if}
	{if $ac=='new' || $ac=='edit'}
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<input type="hidden" name="cid"   value='{$class['class_id']}' />
		<div class="panel panel-default">
			<div class="panel-heading">
				{if $ac=='new'}新增{else}修改{/if}
			</div>
			<div class="panel-body">
				<div class="tab-content">
				<div class='form-group'>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>标题</label>
					<div class="col-sm-9 col-xs-10">
						<input type='text' value='{$result['line_title']}' name='line_title' class='form-control' >
					</div>	
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>类型</label>
					<div class="col-sm-9 col-xs-10">
						<select name='line_type'  class='form-control' >
							{loop $line_type_cfg  $key $list}
								<option value='{$key}' {if $result['line_type']==$key} selected {/if}>{$list}</option>
							{/loop}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>消息内容</label>
					<div class="col-sm-9 col-xs-10">
						<textarea class='form-control' name='line_content' style="height:200px;">{$result['line_content']}</textarea>
					</div>
				</div>	
                <div  class='hide' id='voice_value'></div>     
				<div class='form-group'>
					<div id='img_list'>
						<div class='clear'></div>
					</div>
					<div  class='hide' id='img_value'>
						
					</div>
					<div class='clear'></div>
				</div>
				 <div class='form-group'>
					<div class="button button-primary button-rounded button-small" style='margin-left:10px;' id="chooseImage">
					选择图片
					</div>
        		 </div>
                <div class='form-group'>
                    <div class="button button-primary button-rounded button-small" style='margin-bottom:5px;margin-left:10px;' onclick='chooseVoice()'>开始录音</div>
                    <div id='uploadVoice' style='margin-bottom:5px;margin-left:10px;display:inline;' ></div>
                </div>   										
				{if $ac=='edit'}
					<div class='form-group'>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>状态</label>
					<div class="col-sm-9 col-xs-10">
					<select name='status'  class='form-control'>
							<option value='1' {if $result['status']==1} selected {/if}>正常</option>
							<option value='0' {if $result['status']==0} selected {/if}>关闭</option>
					</select>
					</div>							
					</div>
				{/if}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
			<div class="col-sm-9 col-xs-10">
				<input type="hidden" value="{$token}"  name='token'>
				&nbsp;&nbsp;<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			</div>
			</div>
		</div>		
	</form>	
	{/if}
</div>
<script>
 $(function(){
	 	{if $result['imgs']}
			{php $img_list = json_decode($result['imgs'],1);}
			{loop $img_list $row}
				insertImg(' {php echo $this->imgFrom($row);}','img_list');
				insertValue('{$row}','img_value');
			{/loop}
		{/if}
        $("#chooseImage").click(function(){
            chooseImage('img_list','img_value','uploadImg');
        });
    });
    var images = {
        localId: [],
        serverId: []
    }; 
	function chooseImage(img_id_name,value_id_name,up_id_name){
			images.localId='';
				wx.chooseImage({
				count: 9, 
				success: function (res) {
					images.localId = res.localIds;
					$.each(images.localId,function(i,e){
						img_data = realImgDis(e);
						if(!img_data){
							wx.getLocalImgData({
									localId: e, 
									success: function (res) {
										var localData = res.localData; 
										img_value = localData;
										insertImg(img_value);
									}
							});             
						}else{
							insertImg(img_data);
						}
					});
					uploadImg(value_id_name,up_id_name);
				}
			});       
	} 
	function uploadImg(value_id_name,up_id_name){
		if (images.localId.length == 0) {
			alert('请先选择图片');
			return;
		}
		var i = 0, length = images.localId.length;
		images.serverId = [];
		function upload() {
		wx.uploadImage({
			localId: images.localId[i],
			success: function (res) {
			i++;
			images.serverId.push(res.serverId);
			insertValue(res.serverId,value_id_name);
			if (i < length) {
				upload();
			}else{
				$("#"+up_id_name+"").html("上传成功");
			}
			},
			fail: function (res) {
			alert(JSON.stringify(res));
			}
		});
		}
		upload();     
	}
    function insertImg(img_src,id_name){
        $('#'+id_name+'').prepend("<div style='background-size:cover; height:150px; width:180px;background-image:url("+img_src+");float:left;margin-left:2%;overflow: hidden; margin-bottom:5px;'></div>");
    }
    function insertValue(value,id_name){
          $('#'+id_name+'').prepend("<input type='text' name='"+id_name+"[]' value='"+value+"' >");
    }    
   	
</script>
{template '../new/voice'}
{template 'jsweixin'}
<link href="{MODULE_URL}style/css/weui.min.css" rel="stylesheet" type="text/css" />
{template '../new/tea_footer'}