<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>学生记录</title>
    {template 'common'}
    {template 'tea_common'}
    <link href="{MODULE_URL}style/css/line_css.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{MODULE_URL}template/mobile/style/style_nav.css">
</head>
<body>
<div class="main">
	<div class="panel panel-info">

<div class="panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th  style="width:60%;text-align:center;">学校</th>
					<th  style="width:15%;text-align:center;">学号</th>
					<th  style="width:15%;text-align:center;">系统号</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{loop $out_list $item}
                    <tr>
                        <td>{$item['school_name']}</td>
                        <td>{$item['xuehao']}</td>
                        <td>{$item['passport']}</td>
                    </tr>
				{/loop}
			</tbody>
		</table>
	</div>
	</div>
</div>
</div>
{template 'jsweixin'}