{template 'common/header'}
<link rel="stylesheet" href="{MODULE_URL}public/css/landing.css"/>
<div>
    <div class="content">
        <div class="landing-header">
            <div class="column">
                <h1>分答 - 值得付费的语音问答
                    <span class="title-describe">，十万知识网红等你来问</span></h1>
                <a href="https://mp.weixin.qq.com/s?__biz=MjM5NDk3NDg1Mw==&amp;mid=504492242&amp;idx=1&amp;sn=37d93d78159d661f2a5a1c7d571a5618&amp;scene=1&amp;srcid=05263YeU1hmZ2wj2P7qV2WUD&amp;key=f5c31ae61525f82e8c82872d3ab551e0e6287f748c2270398f6ac6434c9af56e52608fbc902f210bf5fd28e655e1dd34&amp;ascene=0&amp;uin=NTI4MDY3NTYw&amp;devicetype=iMac+MacBook8%2C1+OSX+OSX+10.11.2+build(15C50)&amp;version=11020201&amp;pass_ticket=BlG%2FknEu0%2FzJEghFWaLLc7uYo1n6IRP43QINed%2B1kEi1DTDM%2F5dusKmfRUqQowwy" target="_blank">帮助</a>
                <a href="http://www.zaih.com/">在行</a></div>
        </div>
        <div class="banner">
            <div class="column">
                <a class="download ios-download" id="iosUrl" target="_blank" href="#">iOS版下载</a>
                <a class="download android-download" id="androidUrl" href="#">安卓版下载</a>
                <div class="qrcode-wrap">
                    <img id="mobQrcode" src="http://hangjia.qiniudn.com/Fuv3AX0XqAZFcJGY4M29U_y3g8BQ" />扫码下载分答App</div>
                <div class="qrcode-wrap">
                    <img src="http://hangjia.qiniudn.com/FvgkOY-bpqrwYraLUWfcglTUL7zC" />使用微信版分答</div></div>
        </div>
        <div class="kol">
            <div class="column">
                <p class="qrcode-mob">
                    <img src="http://hangjia.qiniudn.com/FvgkOY-bpqrwYraLUWfcglTUL7zC" />截图扫码使用微信版分答</p>
                <h2>十万知识网红等你来问</h2>
                <p class="kol-name">章子怡，汪峰，佟大为，罗振宇，刘慈欣，
                    <br/>黄执中，哈文，冯仑，曹云金，马薇薇 ，
                    <br/>沈宏非，鞠起，马丁，Dr魏，
                    <br/>张泉灵，
                    <br/>……</p>
                <p class="kol-name-mob">章子怡，汪峰，佟大为，罗振宇，刘慈欣
                    <br/>……</p></div>
        </div>
        <a class="download-mob" id="mobUrl" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.guokr.fanta">下载分答App</a>
        <div class="intro column">
            <p>这里有的众多“答主”
                <br/>您可以付费向他们提问</p>
            <p>60秒内语音
                <br/>有偿回答他人问题</p>
            <p>任何人只要花1元
                <br/>就可以偷听别人的回答</p>
            <p>偷听费用
                <br/>将由提问者和回答者平分</p></div>
    </div>
    <p class="info column">「分答」由知识技能共享平台「在行」推出，「分答」的横空出世迅速引发主流媒体关注，《人民日报》、《彭博商业周刊》第一时间发文报道。虎嗅、 36氪、SIXTONE等科技、互联网圈知名媒体纷纷递出深度稿件。</p>
    <div class="footer">
        <h3>  「在行」出品   </h3>
        <p class="tel">4000-691-791</p>
        <p class="date">工作日10:00-19:00</p>
        <img class="service-qrcode" src="http://hangjia.qiniudn.com/Fiht_3O1uKjrG58IlaNjWgqRWV1h" />
        <p class="copyright">GUOKR © 2015 LOVINGLY MADE IN BEIJING 京ICP备16011529号-1
            <br/>北京我最在行信息技术有限公司</p>
    </div>
</div>
{template 'common/footer'}