<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>填写问题</title>
	<script type="text/javascript" src="{MODULE_URL}assets/scripts/jquery.js"></script>
	<script type="text/javascript" src="{MODULE_URL}assets/scripts/elink-framework.js"></script>
	<script type="text/javascript" src="{MODULE_URL}assets/scripts/noty/packaged/jquery.noty.packaged.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
	<style type="text/css">*{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";}</style>
    <script>
        var jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || {};
        // 是否启用调试
        jssdkconfig.debug = false;

        jssdkconfig.jsApiList = [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'closeWindow',
            'scanQRCode',
            'chooseWXPay',
            'openProductSpecificView',
            'addCard',
            'chooseCard',
            'openCard',
			'translateVoice',
            'openAddress'
        ];
        wx.config(jssdkconfig);
        var _TUTOR_URL = "{php echo $this->createMobileUrl('tutor')}";
        var _follow = "{php echo intval($_W['fans']['follow'])}";
        var _openid = "{php echo $_W['openid']}";
        var _qrcode = "{php echo $_W['account']['qrcode']}";
    </script>
    <script src="{MODULE_URL}public/libs/jquery_weui/js/swiper.js"></script>
	<style type="text/css">
		textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
		li{list-style:none}
		.images-content{ 
			position: absolute; 
			z-index: 1;
			color: #fff; 
			background: rgba(0,0,0,.7); 
			overflow: hidden; 
			margin-top:30px;
			opacity:0.8;filter:alpha(opacity=80);
			width:35px;
			line-height:20px;
			font-size:12px;
			margin-left:-50px;
			padding-left:15px;
		} 
		.imagesUploadArea{ 
			float:left;
			width:20%;
			height:50px;
		} 
	</style> 
</head> 
<body bgcolor="#efeef3" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div align="center">
    <div>
		<div style="z-index:-10px;background-color:#63afa5;position:absolute;height:240px;width:100%;">
			<li style="height:100%;">
				
			<li>
		</div>
		
		<div style="z-index:-10px;position:absolute;left:15%;top:20px">
			<li>
				<img src="{MODULE_URL}assets/images/pictures/yisheng.png" style="height:100px">
			<li>
		</div>	
		<div style="z-index:100px;border-radius:5px;background-color:#FFF;position:absolute;left:5%;height:240px;width:90%;top:120px;">
			<li style="height:100%;">
				<textarea name="title" placeholder="请输入述题目内容，也可以拍照上传题目照片，更容易获得{php echo $this->template['authname']}的专业回答。支付{$member['credit']}元向{$member['nickname']}{php echo $this->template['authname']}提问，超过24小时未回答，将按支付路径全额退款。" style="padding:20px 10% 10px 10%;width:80%;height:120px;border:none;font-size:1em;"></textarea>
				<div style="border-color: blue rgb(25%,35%,45%) #909090 red;border-width:1px;">
				<div style="width:90%">
					<div id='imagesTr'>
						<div class="imagesUploadIcon" style="float:left;border:1px dashed #DCDCDC;width:55px; height:50px;">
							<img src="{MODULE_URL}assets/images/pictures/tianjia.jpg" style="height:50px;">
						</div>
						<div align="left" class='imagesUploadDesc' style="padding-left:70px;font-size:12px;color:#DCDCDC;height:50px;">
							<a>上传与问题相关的图片</a><br>
							<a>最多可选5张</a>
						</div>
					</div>
				</div>
				</div>
			<li>
		</div>
		<div style="z-index:100px;border-radius:5px;position:absolute;left:5%;width:90%;top:400px">
	        <input id="postQuestion" style="border:none;;margin:0 0 30px 0;background:#63afa5;border-radius:5px;line-height:40px;font-size:18px;color:#FFF;width:100%;height:40px;text-align:center"  value="写好了" type=submit>
	    </div>
    </div>
	<script src="{MODULE_URL}public/libs/upload_file/mobileBUGFix.mini.js" type="text/javascript" ></script>
	<script src="{MODULE_URL}public/libs/upload_file/base64upload.js" type="text/javascript" ></script>
	<script src="{MODULE_URL}public/libs/upload_file/exif.js" type="text/javascript" ></script>
	<script>
	var imagePath;
	var timerId;
	var localIds;
	var images = {
		localId: [],
		serverId: []
	};
	
	$("#imagesTr").delegate(".imagesUploadIcon,.imagesUploadDesc,.imagesUploadArea","click",function(){
		var that =$(this);
		
		// 删除已上传的图片
		if(that.data('edit')=='1'){
			that.remove();
			$(".imagesUploadIcon").show();
			return false;
		}
		
		images.localId = [];
		var canChooseCount = 5;
		$('.imagesUploadArea').each(function(){
			if($(this).data('edit')=='1') canChooseCount--;
		});
		wx.chooseImage({
			count: canChooseCount,
			sizeType: ['original', 'compressed'],
			sourceType: ['album', 'camera'],
			success: function (res) {
			images.localId = res.localIds;
			if (images.localId.length == 0) {
				warn('请先使用 chooseImage 接口选择图片');
				return;
			}
			if(images.localId.length > 5) {
				warn('最多支持5张照片,请重新选择');
				images.localId = [];
				return;
			}
			var i = 0, length = images.localId.length;
			images.serverId = [];
			$('.imagesUploadDesc').hide();
			//$('.imagesUploadArea').show();
			function upload() {
				wx.uploadImage({
					localId: images.localId[i],
					success: function (res) {
						/**
						$('.imagesUploadArea').each(function(){
							if($(this).data('edit')=='0'){
								$(this).children(":first").attr('src',images.localId[i]);
								$(this).data('edit','1');	
								$(this).data('serverId',res.serverId);	
								$(this).append('<div class="images-content">删除</div>');
								return false;
							}
						});*/
					    //$('#image'+i).attr('src',images.localId[i]);
						//$('#image'+i).parent().data('edit','1');			
						$('.imagesUploadIcon').before('<div align="left" class="imagesUploadArea" data-sid="'+res.serverId+'" data-edit="1">'
							+'<img id="imagePreview" src="'+images.localId[i]+'" style="width:50px;height:50px;"><span class="images-content">删除<span></div>');			
						//images.serverId.push(res.serverId);
						i++;
						if (i < length) {
							upload();
						}
						var count = 0;
						$('.imagesUploadArea').each(function(){
							if($(this).data('edit')=='1'){
								count++;
							}
						});
						if(count>=5){
							$(".imagesUploadIcon").hide();
						}
					},
					fail: function (res) {
						warn(JSON.stringify(res));
					}
				});
			}
			upload();
		  }
		});
	});
	
    $('#postQuestion').click(function(){
		_q = $(this);
		var post = {};
		post.title = $('textarea[name="title"]').val();
		post.open = $('input[name="radio1"]').attr('checked');
		post.act = 'post_question';
		if(!post.title){
			warn('您还没有填写内容哦');
			return ;
		}
		_q.attr("disabled","disabled");
		_q.val("正在召唤管理员...");
		//_q.val("正在聚集能量...");
        post.images = [];
		$('.imagesUploadArea').each(function(){
			if($(this).data('edit')=='1'){
				post.images = post.images.concat($(this).data('sid'));
			}
		});
		$.post("",post,function(data){
			if(data.status == 8){
				warn(data.message,2000,function(){
					_q.val("写好了");
					_q.removeAttr("disabled","disabled");
				});
				return '';
			}
			if(data.status == 2){
				$.post("",{act:'post_question_success',question_id:data.question_id},function(d){
					
				},'json');
				bingo('提交成功',function(){
					window.location.href = "{php echo $this->createMobileUrl('ask')}";
				});
			}else{
				_q.val("正在开启支付传送门...");
				wx.ready(function(){
					wx.chooseWXPay({
						timestamp: data.timeStamp,
						nonceStr: data.nonceStr,
						package: data.package,
						signType: data.signType,
						paySign: data.paySign,
						success: function (res) {
							if(res.errMsg == 'chooseWXPay:ok') {
								$.post("",{act:'post_question_success',question_id:data.question_id},function(d){},'json');                                    
								bingo('提交成功',function(){
									window.location.href = "{php echo $this->createMobileUrl('ask')}";
								});
							}else{
								window.location.href = "{php echo $_W['siteurl']}";
							}
						},cancel:function(res){
							_q.val("写好了");
							_q.removeAttr("disabled");
						}
					});
				});
			}
		},'json');
    });
	</script>
</body>
</html>