{template 'common/header'}
<style>
    .header .header-nav a{
        margin-right:-3px;
        margin-left:-3px;
    }
</style>
<header class="header">
    <div class="main">
        <nav class="header-nav">
            <a class="{if $_GPC['do'] == 'task'}current{/if}" href="{php echo $this->createMobileUrl('task')}">我要答</a>
            <a class="{if $_GPC['do'] == 'task_post'}current{/if}" href="{php echo $this->createMobileUrl('task_post')}">我要问</a>
        </nav>
        <a class="search-btn" href="{php echo $this->createMobileUrl('search')}" id="searchTrigger"></a>
    </div>
</header>
<link rel="stylesheet" href="{MODULE_URL}public/css/question.css" />
<div id="banner"></div>
<div id="Questions" class="main" style="margin-bottom:54px;">
    {if !empty($list['list'])}
    <ul class="questions" style="margin-bottom:0px;">
        <!--问答列表-->
        {loop $list['list'] $li}
        {php $member = M('member')->getInfo($li['openid'])}
        <li class="a-question">
            <a class="AQ" href="{php echo $this->createMobileUrl('task_answer',array('id'=>$li['id']))}">
                <div class="question-content">
                    <p>{$li['title']}</p>
                    {php $myinfo = M('member')->getInfo($_W['openid'])}
                    {if $myinfo['admin'] == 1 || $_W['openid'] == $log['openid']}
                    <a href="javascript:;" style="float:right;color:red;" data-id="{$log['id']}" class=" delete_log">撤销</a>
                    {/if}
                </div>
                <div>
                    <span class="question-respondent">
                        {$member['nickname']}｜{$member['desc']}
                    </span>
                </div>
            </a>
        </li>
        {/loop}
    </ul>
    <div class="weui-infinite-scroll" style="padding-bottom: 54px;">
        <div class="infinite-preloader"></div>
        正在加载...
    </div>
    {else}
    <div style="text-align:center;padding:3.6rem 2.875rem;" data-reactid=".1">
        <div data-reactid=".1.0">
            <img src="http://hangjia.qiniudn.com/FugCrgkvyNW-neCLtifXyyKnS-07" style="display:inline-block;width:4,5rem;height:4.5rem;margin-bottom:1rem;">
        </div>
        <p style="font-size:.8rem;color:#999;line-height:1.1rem;margin-bottom:1.65rem;">
            暂无相关信息
        </p>
        <a style="display:inline-block;line-height:2.2rem;width:8rem;background:#F85F48;border:1px solid #F85F48;font-size:.75rem;color:#fff;text-decoration:none;text-align:center;border-radius:.3rem;" href="{php echo $this->createMobileUrl('task_post')}" data-reactid=".1.2">
            去问一个
        </a>
    </div>
    {/if}
</div>
{template 'common/footerbar'}
<script type="text/javascript" src="{MODULE_URL}public/libs/velocity.min.js"></script>
<script src="{MODULE_URL}public/js/loadmore.js"></script>
<script>
    $(function(){
        function callback(html){
            $('#Questions .questions').append(html);
        }
        initload("",callback);
        loadmore("",callback);
    })
</script>
{template 'common/footer'}