{template 'common/header'}
<link rel="stylesheet" href="{MODULE_URL}public/css/find.css"/>
<div class="main">
    <div>
        <div class="category-banner">
            <span>{$theme['title']}</span>
            <a href="{php echo $this->createMobileUrl('themes_detail')}" class="category-btn">
                <img src="http://hangjia.qiniudn.com/FqYz9FtpUG03ij5-Uk3tggwqbbRQ" class="icon" />
                <span>全部主题</span>
            </a>
        </div>
    </div>
    <div id="leaders">
        <div>
            <ul class="album album-leader">
                {loop $members['list'] $member}
                {php $member = M('member')->getInfo($member['openid'])}
                <li>
                    <a href="{php echo $this->createMobileUrl('tutor',array('openid'=>$member['openid']))}">
                        <img src="{php echo $member['avatar']}" class="avatar">
                        <p>{$member['nickname']}</p>
                        <p class="description">{$member['tags']}</p>
                        <p class="description">
                            <span>{php echo M('answer')->getTotal($member['openid'])}</span>
                            <span>个回答，</span>
                            <span>{php echo M('follow')->getTotal($member['openid'])}</span>
                            <span>人收听</span>
                        </p>
                    </a>
                    {php $check = M('follow')->check($member['openid'])}
                    <div class="{if !empty($check)}followed{else}follow{/if}">
                        {if !empty($check)}
                        <span>已收听</span>
                        {else}
                        <img src="http://hangjia.qiniudn.com/FuG33n6Tx-hT2VhbVrb4FPgm4dCz" data-openid="{$member['openid']}" class="btn-follow">
                        <span class="listen">收听</span>
                        {/if}
                    </div>
                </li>
                {/loop}
            </ul>
            <div class="weui-infinite-scroll" style="padding-bottom: 54px;">
                <div class="infinite-preloader"></div>
                正在加载...
            </div>
        </div>
    </div>
</div>
{template 'common/footerbar'}
<script type="text/javascript" src="{$_W['siteroot']}app/resource/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}public/libs/jquery_weui/jquery-weui.js"></script>

<script type="text/javascript" src="{MODULE_URL}public/libs/velocity.min.js"></script>
<script src="{MODULE_URL}public/js/loadmore.js"></script>
<script>
    $(function(){
        $(document.body).on('click','.btn-follow',function(){
            var openid = $(this).data('openid');
            var _that = $(this);
            $.post("{php echo $this->createMobileUrl('members')}",{act:'follow',openid:openid},function(data){
                if(data.status == 1){
                    _that.parent().addClass('followed').remove('follow');
                    _that.parent().html('<span>已收听</span>');
                    $.toast(data.message,2000,function(){});
                }else{
                    $.toast(data.message,2000);
                }
            },'json');
        })
        function callback(html){
            $('#newstar .album-leader').append(html);
        }
        initload("",callback);
        loadmore("",callback);
    })
</script>
{template 'common/footer'}