{php $g_title=$this->template['authname'].'信息'}
{php $menu='4'}
<!DOCTYPE HTML>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>{$g_title}</title>
	<link href="{MODULE_URL}assets/styles/style.css" rel="stylesheet" type="text/css">
	<link href="{MODULE_URL}assets/styles/menus.css" rel="stylesheet" type="text/css">
	<link href="{MODULE_URL}assets/styles/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
	<link href="{MODULE_URL}assets/styles/framework.css" rel="stylesheet" type="text/css">
	<link href="{MODULE_URL}assets/styles/skin.css" rel="stylesheet" type="text/css">
	<link href="{MODULE_URL}assets/styles/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="{MODULE_URL}assets/styles/animate.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="{MODULE_URL}assets/scripts/jquery.js"></script>
	<script type="text/javascript" src="{MODULE_URL}assets/scripts/jqueryui.js"></script>
	<script type="text/javascript" src="{MODULE_URL}assets/scripts/custom.js"></script>
	<script type="text/javascript" src="{MODULE_URL}assets/scripts/elink-framework.js"></script>
	<script type="text/javascript" src="{MODULE_URL}assets/scripts/noty/packaged/jquery.noty.packaged.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
	<style type="text/css">*{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";}</style>
    <script type="text/javascript" src="{MODULE_URL}public/libs/jquery_weui/jquery-weui.js"></script>
    <script src="{MODULE_URL}public/libs/jquery_weui/js/swiper.js"></script>
    <script src="{MODULE_URL}public/js/voice.js?t={php echo time()}"></script>
</head>
{template 'common/menu'}
		<div id="content" class="snap-content">
			<div class="content">
				<div class="one-half-responsive">
					<div class="container heading-style-5"></div>
				</div>
				<form method="post" action="" id="contactForm" class="contactForm" enctype="multipart/form-data">
					<input type="hidden" name="MAX_FILE_SIZE" value="2000000">
					<fieldset>
						<div class="formFieldWrap" style="padding-bottom:5px;">
							<label class="field-title contactNameField" for="contactNameField">选择专业: <span>请选择您的专业领域</span></label>
							<div class="portfolio-filter-categories2"> 
								{php $category = M('category')->getall()}
								{loop $category $c}
								<a data-id="{$c['id']}" class="subject filter-category {if $c['id']==$member['category_id']}selected-filter{/if}">{$c['title']}</a>
								{/loop}
							</div>
						</div>
						<div class="formFieldWrap">
							<label class="field-title contactNameField" for="contactNameField">我的姓名：<span>请填写真实姓名</span></label>
							<input value="{$member['realname']}" type="text" name="contactNameField" name="realname" id="realname" placeholder="输入真实姓名..." class="contactField requiredField">
						</div>
						<div class="formFieldWrap">
							<label class="field-title contactNameField" for="contactNameField">我的头衔：<span>18个字以内</span></label>
							<input value="{$member['tags']}" type="text" name="contactNameField" name="tags" id="tags" placeholder="5年任教经验,特级教师,毕业于XX师范大学..." class="contactField requiredField">
						</div>
						<div class="formTextareaWrap">
							<label class="field-title contactMessageTextarea"
								for="contactMessageTextarea">介绍下我自己： <span>100个字以内</span></label>
							<textarea placeholder="XX学校全国骨干教师，XX年工作经验，获得过XX教学论文评比一等奖。参与多次支教实践，得到学生的普遍认可与反馈，希望通过自己能帮助到更多孩子..."
								id="desc" name="desc" class="contactTextarea">{$member['desc']}</textarea>
						</div>
						<div class="formFieldWrap">
							<label class="field-title contactNameField" for="contactNameField">资质证明：<span>请上传相关专业资质证明</span></label>
							<span onclick="openFile();" style="border: 1px dotted #cacaca" type="text" class="contactField requiredField"><a style="font-size:15px;padding-left:37%;color:#666;">+ 添加图片</a></span>
							<input style="display:none;" onchange="selectFileImage(this);" id="certify" name="certify" type="file" accept="image/*" class="contactField">
						</div>
						<div class="formFieldWrap">
							<label class="field-title contactNameField" for="contactNameField">向我提问需要支付：<span>1-100元之间</span></label>
							<input value="{$member['credit']}" type="text" name="credit" id="credit" placeholder="支付费用必须为一个大于0元并且小于100元的正整数" class="contactField requiredField">
						</div>
						<div class="formSubmitButtonErrorsWrap contactFormButton">
							<input type="button" class="buttonWrap button button-green contactSubmitButton"
								id="save" value="{if '0' == $member['status']}开始申请{else}保存信息{/if}">
						</div>					
						<div class="clear"></div>
						<div class="formTextareaWrap" id="imagePreviewDiv" style="display:none">
							<label class="field-title contactMessageTextarea"
								for="contactMessageTextarea">图片预览： <span>仅仅是预览而已</span></label>
							<img id="imagePreview"></img>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<script src="{MODULE_URL}public/libs/upload_file/mobileBUGFix.mini.js" type="text/javascript" ></script>
	<script src="{MODULE_URL}public/libs/upload_file/base64upload.js" type="text/javascript" ></script>
	<script src="{MODULE_URL}public/libs/upload_file/exif.js" type="text/javascript" ></script>
	<script>
	var imagePath;
	/**
    $('.filter-category').click(function(){
        if($(this).hasClass("selected-filter")){
			$(this).removeClass("selected-filter");
		}else{
			if($(this).hasClass("subject") && $('.selected-filter.subject').length<1){
				$(this).addClass("selected-filter");
			}else{
				warn("选择数量已达上限")
			}
		}
    });*/
    $('.filter-category').click(function(){
		$('.filter-category').removeClass("selected-filter");
        $(this).addClass("selected-filter");
    });
	function openFile(){
		$('#certify').click();
	}
	
	function selectFileImage(fileObj) {  
		var file = fileObj.files['0'];  
		//图片方向角 added by lzk  
		var Orientation = null;  
		if (file) {  
			var rFilter = /^(image\/jpeg|image\/png)$/i; // 检查图片格式  
			if (!rFilter.test(file.type)) {  
				//showMyTips("请选择jpeg、png格式的图片", false);  
				return;  
			}  
			// var URL = URL || webkitURL;  
			//获取照片方向角属性，用户旋转控制  
			EXIF.getData(file, function() {  
			   // alert(EXIF.pretty(this));  
				EXIF.getAllTags(this);   
				//alert(EXIF.getTag(this, 'Orientation'));   
				Orientation = EXIF.getTag(this, 'Orientation');  
				//return;  
			});  
			  
			var oReader = new FileReader();  
			oReader.onload = function(e) {  
				//var blob = URL.createObjectURL(file);  
				//_compress(blob, file, basePath);  
				var image = new Image();  
				image.src = e.target.result;  
				image.onload = function() {  
					var expectWidth = this.naturalWidth;  
					var expectHeight = this.naturalHeight;  
					  
					if (this.naturalWidth > this.naturalHeight && this.naturalWidth > 800) {  
						expectWidth = 800;  
						expectHeight = expectWidth * this.naturalHeight / this.naturalWidth;  
					} else if (this.naturalHeight > this.naturalWidth && this.naturalHeight > 1200) {  
						expectHeight = 1200;  
						expectWidth = expectHeight * this.naturalWidth / this.naturalHeight;  
					}  
					//alert(expectWidth+','+expectHeight);  
					var canvas = document.createElement("canvas");  
					var ctx = canvas.getContext("2d");  
					canvas.width = expectWidth;  
					canvas.height = expectHeight;  
					ctx.drawImage(this, 0, 0, expectWidth, expectHeight);  
					var base64 = null;  
					var mpImg = new MegaPixImage(image);  
						mpImg.render(canvas, {  
							maxWidth: 800,  
							maxHeight: 1200,  
							quality: 0.8,  
							orientation: Orientation  
						}); 
					imagePath = canvas.toDataURL("image/jpeg", 0.8);  
 
					$("#imagePreview").attr("src", imagePath);  
					$("#imagePreview").css("width", "100%");
					$("#imagePreviewDiv").show();   
				};  
			};  
			oReader.readAsDataURL(file);
		}  
	}  
	
    var post = {};
    $('#save').click(function(){
        post.realname= $('#realname').val();
        post.tags= $('#tags').val();
        post.desc = $('#desc').val();
        post.credit = parseFloat($('#credit').val());
        post.category_id = $('.selected-filter').data('id');//$('#category_id').val();
        post.image = imagePath;
		/**
		var subjects = '';
		var seniors = '';		
		$(".selected-filter").each(function(){
			if($(this).hasClass("subject")){
				subjects += $(this).attr("id")+",";
			}else if($(this).hasClass("senior")){
				seniors += $(this).attr("id")+",";
			}
		});
        post.teachSubjects = subjects;
        post.teachSeniors = seniors;*/
        if(!post.realname){
            warn("请填写您的真实姓名");
            return '';
        }
        if(!post.tags){
            warn("请填写您的头衔");
            return '';
        }
        if(!post.desc){
            warn("请填写您的介绍");
            return '';
        }
        if(!post.credit){
            warn("请填写提问支付费用");
            return '';
        }
        if(post.category_id=='-1'){
            warn("请选择专业领域");
            return '';
        }
		if(!(/^(\+|-)?\d+$/.test(post.credit)) || post.credit <= 0 || post.credit>=100){  
			warn("支付费用必须为一个大于0元并且小于100元的正整数");  
            return '';
		}  	/**
		bingo("提交成功",function(){
			$("#contactForm").submit();
			//window.location.href = "{php echo $this->createMobileUrl('home')}";
		});*/
console.log(post);
        $.post('',post,function(data){
            bingo(data.message,function(){
				window.location.href = "{php echo $this->createMobileUrl('home')}";
            });
        },'json');
        return false;
    });
	</script>
</body>