{loop $logs['list'] $log}
{php $li = M('question')->getInfo($log['question_id'])}
<div class="blog-sidebar-text" onclick="window.location.href='{php echo $this->createMobileUrl('question',array('id'=>$li['id']))}'">
	<h5>{$li['title']}</h5>
</div>
<div class="container one-third-responsive">
	{php $to_member = M('member')->getInfo($li['to_openid'])}
	<p class="user-list-follow">
		<a href="{php echo $this->createMobileUrl('tutor',array('openid'=>$to_member['openid']))}">
			<img src="{php echo $to_member['avatar']}" alt="img">
			<strong>{$to_member['nickname']}
				<em class="split-title">{$to_member['tags']}</em>
			</strong></a> 							
			{php $answer = M('answer')->getInfoByQid($li['id'])}
			{if !empty($answer)}
				<a onclick="window.location.href='{php echo $this->createMobileUrl('question',array('id'=>$li['id']))}'" class="listen follow2 button-green">查看老师解答</a>
			{else}
				<a onclick="window.location.href='{php echo $this->createMobileUrl('question',array('id'=>$li['id']))}'" class="listen follow2 button-orange">等待老师解答</a>
			{/if}
	</p>
<div class="decoration"></div>
</div>
{/loop}